<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Page</title>
    <link rel="stylesheet" href="css/meta/custom-button.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700">
    <link rel="stylesheet" href="css/signin.css">
</head>

<body>
    <div class="background">
        <div class="svg-container">
            <!-- Background SVG -->
            
            <svg class="background-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 805" 
                 >
                <defs>
                    <linearGradient id="paint0_linear_519_7" x1="977.294" y1="89.5217" x2="2021.01" y2="89.5217"
                        gradientUnits="userSpaceOnUse">
                        <stop stop-color="#C394FF" />
                        <stop offset="1" stop-color="#00F0FF" />
                    </linearGradient>
                </defs>
                <path
                    d="M1072.69 164.986C411.814 71.4694 -7.80204 472.023 -135 683.99V1407.56C618.562 1416.19 2118.47 1428.28 2089.59 1407.56C2060.71 1386.85 2077.56 460.556 2089.59 0C2025.99 93.9608 1733.57 258.503 1072.69 164.986Z"
                    fill="url(#paint0_linear_519_7)" />
            </svg>

            <!-- Foreground SVG -->
            <svg class="foreground-svg-animation" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 798" 
                >
                <defs>
                    <linearGradient id="paint0_linear_519_8" x1="941.81" y1="180.12" x2="941.81" y2="1960.5"
                        gradientUnits="userSpaceOnUse">
                        <stop stop-color="#2A2065" />
                        <stop offset="1" stop-color="#D7A7FF" />
                    </linearGradient>
                </defs>
                <path
                    d="M1036.69 198.986C375.814 105.469 -43.802 506.023 -171 717.99V1441.56C582.562 1450.19 2082.47 1462.28 2053.59 1441.56C2024.71 1420.85 2041.56 494.556 2053.59 34C1989.99 127.961 1697.57 292.503 1036.69 198.986Z"
                    fill="url(#paint0_linear_519_8)" stroke="white" stroke-width="20" />
            </svg>
        
            <!-- Button Container -->
            <div class="button-container">
                <div class="img-box"></div>
                <div class="text-box">Stories Like Never Before</div>
                <a href="/auth/google" class="btn1 btn1-white btn1-animated" role="button">Sign Up With Google</a>
                <a href="/register" class="btn btn-white btn-animated">Sign Up With Email</a>
                <div class="line"></div>
                <div class="text">Already have an Account? <a href="/authenticate2"><span class="sign-in-text">Sign In</span></a>
                </div>
            </div>
          
        </div>
    </div>
</body>

</html>