<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Story Generation Page 3</title>
    <link rel="icon" href="css/assets/parrot.png" type="image/x-icon">
    <link rel="stylesheet" href="css/meta/global.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/emotions.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/meta/vertical-navbar.css">
    

</head>

<body>
  
    <!-- <button class="navTrigger" id="navTrigger">
        <svg viewBox="0 0 64 48">
          <path d="M19,15 L45,15 C70,15 58,-2 49.0177126,7 L19,37"></path>
          <path d="M19,24 L45,24 C61.2371586,24 57,49 41,33 L32,24"></path>
          <path d="M45,33 L19,33 C-8,33 6,-2 22,14 L45,37"></path>
        </svg>
      </button> -->
      <!-- <nav class="navMenu" id="navMenu">
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/story">Create Story</a>
          </li>
          <li>
            <a href="/storyhistory">Story History</a>
          </li>
          <li>
            <a href="/profile">Profile</a>
          </li>
          <li>
            <a href="/subscribe">Subscription</a>
          </li>
        </ul>
      </nav> -->
      <div class="navbar">
        <div class="icons-container">
          <div class="icon-item">
            <img src="css/assets/gem.png" alt="Icon 1">
            <span class="icon-number"><%= gems %></span>
          </div>
          <div class="icon-item">
            <img src="css/assets/parrot.png" alt="Icon 2">
            <span class="icon-number"><%= parrots %></span>
          </div>
        </div>
        <div class="nav-button-container">
          <!-- <a href="/subscribe" class="nav-button">Subscription</a>
          <a href="/profile" class="nav-button">Profile</a>
          <a href="/storyhistory" class="nav-button">Story History</a>
          <a href="/story" class="special-button">Create Story</a> -->
        </div>
      </div>
    
    <div class="image-box"></div>
    <div class="ellipse"></div>
    <form method="POST" action="/emotions" onsubmit="return validateScenarioForm();">
    <div class="content-box" id="content-box-1">
        <div class="header-text">Step 3 : Emotions</div>
        <div class="sub-text">Select a preferred emotion for<br>your story</div>

        <!-- Flexbox and Textbox -->
       
            <div class="flex-box">
                <div class="text-head" style="margin-left: 35px;margin-top: 15px;">Enter Own Emotions</div>
                <input type="text" class="text-box" id="emotionInput" placeholder="Start typing here" name="emotions">
                
            </div>
            <div class="card-container">
                <div class="text-style-head"
                    style="color: #000; font-size: 30px; align-self: baseline; margin-top: 38px; margin-left:30px;margin-bottom: 22px;">
                    Select From 10 Emotions</div>
                <div class="card-box">
    
                    <div class="card" onclick="selectCard(this)" style="background-image:url('css/assets/emotions/ce-8.png') ;" data-value="sadness"></div>
                    <div class="card" onclick="selectCard(this)" style="background-image:url('css/assets/emotions/ce-1.png') ;" data-value="joy"></div>
                    <div class="card" onclick="selectCard(this)" style="background-image:url('css/assets/emotions/ce-9.png') ;" data-value="fear"></div>
                    <div class="card" onclick="selectCard(this)" style="background-image:url('css/assets/emotions/ce-18.png') ;" data-value="surprise"></div>
                    <div class="card" onclick="selectCard(this)" style="background-image:url('css/assets/emotions/ce-19.png');" data-value="frustration"></div>
                    <div class="card" onclick="selectCard(this)" style="background-image:url('css/assets/emotions/ce-20.png');" data-value="love"></div>
                    <div class="card" onclick="selectCard(this)" style="background-image:url('css/assets/emotions/ce-21.png');" data-value="jealousy"></div>
                    <div class="card" onclick="selectCard(this)" style="background-image:url('css/assets/emotions/ce-22.png');" data-value="hope"></div>
                    <div class="card" onclick="selectCard(this)" style="background-image:url('css/assets/emotions/ce-80.png');" data-value="excitement"></div>
                    <div class="card" onclick="selectCard(this)" style="background-image:url('css/assets/emotions/ce-81.png');" data-value="bravery"></div>
                </div>
    
                <!-- Add more cards as needed -->
            </div>
            <button type="submit" class="next-button" style="height: 55px;">Next Values</button>
       
        <a href="/scenario" style="color: #FFF;

        font-family: Volkhov;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;margin-top: 11px; text-decoration: none;">Back</a>
    </div>
</form>
  <script src="js/emotions.js"></script>
  <script src="js/vnav.js"></script>
  <script>
    function validateScenarioForm() {
           var enteredScenario = document.getElementById("emotionInput").value;
   
           if (enteredScenario === "") {
               alert("Please enter atleast one emotion or select from the cards.");
               return false; // Prevent form submission
           } else {
               // Add any additional logic or action here when the scenario is valid
               // For example, you may want to submit a form or navigate to the next page
               return true; // Allow form submission
           }
       }
   </script>
</body>

</html>

