<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="css/landing-page.css">
    <link rel="stylesheet" href="css/meta/global.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
</head>

<body>
    
        <div class="navbar" style="z-index: 9999;">
        <a href="#" class="nav-button">Testimonials</a>
        <a href="#" class="nav-button">Features</a>
        <a href="#" class="nav-button">Pricing</a>
        <a href="#" class="special-button">Get Started</a>
    </div>
    <div class="section">
        <div class="image-container">
            <div class="svg-container">
                <svg class="svg" xmlns="http://www.w3.org/2000/svg" width="1920" height="1398" viewBox="0 0 1920 1398"
                    fill="none">
                    <path
                        d="M991.067 83.6745C279.322 -136.537 -318.622 131.41 -528.627 292.91L-758.368 934.416C84.3088 1098.63 1763.21 1420.95 1737.39 1396.59C1711.57 1372.22 2024.57 554.488 2184.3 148.666C2083.12 218.757 1702.81 303.886 991.067 83.6745Z"
                        fill="url(#paint0_linear_572_7)" />
                    <defs>
                        <linearGradient id="paint0_linear_572_7" x1="908.001" y1="-3.0507" x2="2014.66" y2="393.273"
                            gradientUnits="userSpaceOnUse">
                            <stop stop-color="#CBBAFF" />
                            <stop offset="1" stop-color="#FC8DCC" />
                        </linearGradient>
                    </defs>
                </svg>
            </div>
            <!-- Additional SVGs for foreground -->
            <svg class="svg-foreground" xmlns="http://www.w3.org/2000/svg" width="1920" height="1353"
                viewBox="0 0 1920 1353" fill="none">
                <path
                    d="M972.57 65.1812C253.48 -129.712 -334.611 159.222 -538.77 328.051L-745.671 977.284C102.288 1111.58 1791.54 1374.3 1764.87 1350.87C1738.21 1327.43 2022.09 499.135 2167.36 87.9166C2068.72 161.544 1691.66 260.074 972.57 65.1812Z"
                    fill="url(#paint0_linear_572_9)" />
                <defs>
                    <linearGradient id="paint0_linear_572_9" x1="886.487" y1="-18.5509" x2="2006.47" y2="338.372"
                        gradientUnits="userSpaceOnUse">
                        <stop stop-color="#413863" />
                        <stop offset="1" stop-color="#543F67" />
                </defs>
            </svg>
            <svg class="svg-foreground-2" xmlns="http://www.w3.org/2000/svg" width="1920" height="1311"
                viewBox="0 0 1920 1311" fill="none">
                <path
                    d="M1011.73 46.157C265.493 -118.423 -252.337 199.474 -417.972 378.995L-487.219 1043.51C373.052 1141.17 2085.84 1330.87 2054.82 1308.41C2023.81 1285.95 2131.71 437.26 2189.53 15.7246C2107.86 94.4437 1757.97 210.737 1011.73 46.157Z"
                    fill="#171031" />
            </svg>
            <svg class="blush-1" xmlns="http://www.w3.org/2000/svg" width="1287" height="1168" viewBox="0 0 1287 1168"
                fill="none">
                <g filter="url(#filter0_f_572_112)">
                    <path d="M99.6366 852.874L-368.722 242.088L-388.147 214.748L1073 953.659L99.6366 852.874Z"
                        fill="#F8EBEE" fill-opacity="0.3" />
                </g>
                <defs>
                    <filter id="filter0_f_572_112" x="-602.147" y="0.747559" width="1889.15" height="1166.91"
                        filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                        <feGaussianBlur stdDeviation="107" result="effect1_foregroundBlur_572_112" />
                    </filter>
                </defs>
            </svg>
            <svg class="blush-2" xmlns="http://www.w3.org/2000/svg" width="831" height="1449" viewBox="0 0 831 1449"
                fill="none">
                <g filter="url(#filter0_f_572_113)">
                    <path d="M-19.8281 933.289L-433.706 323.591L-425.628 214.916L616.664 1234.56L-19.8281 933.289Z"
                        fill="#FFF1A8" fill-opacity="0.33" />
                </g>
                <defs>
                    <filter id="filter0_f_572_113" x="-647.706" y="0.916016" width="1478.37" height="1447.64"
                        filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                        <feGaussianBlur stdDeviation="107" result="effect1_foregroundBlur_572_113" />
                    </filter>
                </defs>
            </svg>
            <div class="image"></div>
            <div class="storyia-text">
                <p class="text-row"><span class="gradient-text-2">At Storyia, we believe that every child deserves a
                        story that</span></p>
                <p class="text-row"><span class="gradient-text-2">resonates with them. Originating from the desire to
                        democratize</span></p>
                <p class="text-row"><span class="gradient-text-2">access to quality reading at a fair price, Storyia
                        serves as a</span></p>
                <p class="text-row"><span class="gradient-text-2">solution for parents who are short on time, low on
                        creativity, or</span></p>
                <p class="text-row"><span class="gradient-text-2">who simply wish to instill meaningful values through
                        storytelling,</span></p>
                <p class="text-row"><span class="gradient-text-2">available in both text and audio formats.</span></p>
            </div>


            <div class="text-overlay">
                <span class="white-text">Storiya: Stories as</span><br>
                <span class="white-text">Unique as Your Children,</span><br>
                <span class="gradient-text">Now in Text and Audio.</span>
            </div>
            <div class="sub-text">The Freedom to Create Stories That Matter, Both in Text and Audio.</div>
            <a href="/login">
                <div class="button-container">
                    <button class="custom-button">
                        Create My Story Now
                    </button>
                </div>
            </a>
            <svg xmlns="http://www.w3.org/2000/svg" width="11" height="10" viewBox="0 0 11 10" fill="none"
                class="dot-1">
                <ellipse opacity="0.5" cx="5.46228" cy="4.78158" rx="5.18005" ry="4.78158" fill="#FFA8CF" />
            </svg>

            <!-- Add the second dot SVG -->
            <svg xmlns="http://www.w3.org/2000/svg" width="11" height="10" viewBox="0 0 11 10" fill="none"
                class="dot-2">
                <ellipse opacity="0.5" cx="5.18005" cy="4.96469" rx="5.18005" ry="4.78158" fill="#FFA8CF" />
            </svg>

            <path
                d="M972.57 65.1812C253.48 -129.712 -334.611 159.222 -538.77 328.051L-745.671 977.284C102.288 1111.58 1791.54 1374.3 1764.87 1350.87C1738.21 1327.43 2022.09 499.135 2167.36 87.9166C2068.72 161.544 1691.66 260.074 972.57 65.1812Z"
                fill="url(#paint0_linear_572_9)" />
            <defs>
                <linearGradient id="paint0_linear_572_9" x1="886.487" y1="-18.5509" x2="2006.47" y2="338.372"
                    gradientUnits="userSpaceOnUse">
                    <stop stop-color="#413863" />
                    <stop offset="1" stop-color="#543F67" />
            </defs>
            </svg>
            <!-- Add the third dot SVG -->
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="48" viewBox="0 0 50 48" fill="none"
                class="dot-3">
                <g filter="url(#filter0_d_572_69)">
                    <ellipse cx="25.0453" cy="23.1488" rx="5.18005" ry="4.78158" fill="#FFA8CF" />
                </g>
                <defs>
                    <filter id="filter0_d_572_69" x="0.865234" y="0.367188" width="48.3604" height="47.5631"
                        filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                            result="hardAlpha" />
                        <feMorphology radius="4" operator="dilate" in="SourceAlpha"
                            result="effect1_dropShadow_572_69" />
                        <feOffset dy="1" />
                        <feGaussianBlur stdDeviation="7.5" />
                        <feComposite in2="hardAlpha" operator="out" />
                        <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 0.658333 0 0 0 0 0.810561 0 0 0 1 0" />
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_572_69" />
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_572_69" result="shape" />
                    </filter>
                </defs>
            </svg>
            <!-- Add the fourth dot SVG -->
            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="47" viewBox="0 0 48 47" fill="none"
                class="dot-4">
                <g filter="url(#filter0_d_572_66)">
                    <circle cx="23.8549" cy="22.7032" r="5.18005" fill="#F3FFA8" />
                </g>
                <defs>
                    <filter id="filter0_d_572_66" x="0.674805" y="0.523132" width="46.3604" height="46.3601"
                        filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                            result="hardAlpha" />
                        <feMorphology radius="3" operator="dilate" in="SourceAlpha"
                            result="effect1_dropShadow_572_66" />
                        <feOffset dy="1" />
                        <feGaussianBlur stdDeviation="7.5" />
                        <feComposite in2="hardAlpha" operator="out" />
                        <feColorMatrix type="matrix" values="0 0 0 0 0.993167 0 0 0 0 1 0 0 0 0 0 0 0 0 1 0" />
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_572_66" />
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_572_66" result="shape" />
                    </filter>
                </defs>
            </svg>



            <div class="text-class-2"> <span>Discover Storyia Through Images</span></div>
            <div class="image-slider">
                <div class="slider">
                    <div class="slide"><img src="css/assets/pic1.png" alt="Image 1"></div>
                    <div class="slide"><img src="css/assets/pic2.png" alt="Image 2"></div>
                    <div class="slide"><img src="css/assets/pic3.png" alt="Image 3"></div>
                    <div class="slide"><img src="css/assets/pic4.png" alt="Image 4"></div>
                </div>
            </div>
            <div class="slider-dots">
                <svg xmlns="http://www.w3.org/2000/svg" width="90" height="15" viewBox="0 0 90 15" fill="none">
                    <circle cx="7.5" cy="7.5" r="7.5" fill="#CDADFF" />
                    <circle cx="32.5" cy="7.5" r="7.5" fill="#615476" />
                    <circle cx="57.5" cy="7.5" r="7.5" fill="#615476" />
                    <circle cx="82.5" cy="7.5" r="7.5" fill="#615476" />
                </svg>
            </div>
            <div class="text-class-3"> <span>Choice of age and name for characters</span></div>
            <div class="sub-text-2"> <span>Dive into a world where your child is the hero. Discover how, with just a
                    few</span></div>
            <div class="sub-text-3"> <span>clicks, Storyia is revolutionizing the world of children's
                    storytelling.</span></div>

            <div class="image-box"></div>
            <div class="vec-1-box"></div>
            <div class="text-class-4"> <span>What Our Users Are Saying</span></div>
            <div class="sub-text-4"> <span>Join our community of parents who have discovered a revolutionary way to
                    spark the</span></div>
            <div class="sub-text-5"> <span>curiosity and imagination of their children, available in both text and
                    audio.</span></div>

            <svg xmlns="http://www.w3.org/2000/svg" width="1920" height="1052" viewBox="0 0 1920 1052" fill="none"
                class="svg-up">
                <path
                    d="M922.827 1014.25C1521.58 1146.3 1937.07 891.235 2069.97 747.195L2125.53 214.011C1435.28 135.653 61.0048 -16.556 85.8906 1.46797C110.776 19.4919 24.2043 700.445 -22.1922 1038.67C43.334 975.507 324.075 882.198 922.827 1014.25Z"
                    fill="#171031" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="1920" height="1086" viewBox="0 0 1920 1086" fill="none"
                class="svg-up-2">
                <path
                    d="M954.249 1032.96C1531.22 1189.33 2003.08 957.5 2166.89 822.039L2332.9 301.119C1652.53 193.368 297.141 -17.4346 318.536 1.37029C339.932 20.1751 112.159 684.768 -4.40152 1014.71C74.7448 955.638 377.28 876.58 954.249 1032.96Z"
                    fill="url(#paint0_linear_572_343)" />
                <defs>
                    <linearGradient id="paint0_linear_572_343" x1="1023.32" y1="1100.14" x2="124.688" y2="813.757"
                        gradientUnits="userSpaceOnUse">
                        <stop stop-color="#403762" />
                        <stop offset="1" stop-color="#4B3B65" />
                    </linearGradient>
                </defs>
            </svg>
            <svg class="svg-up-3" xmlns="http://www.w3.org/2000/svg" width="1920" height="1123" viewBox="0 0 1920 1123"
                fill="none">
                <path
                    d="M939.408 1055.26C1510.48 1231.95 1990.25 1016.96 2158.75 887.375L2343.09 372.655C1666.96 240.9 319.873 -17.7231 340.59 1.82692C361.306 21.377 110.164 677.495 -17.9976 1003.11C63.1892 946.872 368.332 878.567 939.408 1055.26Z"
                    fill="url(#paint0_linear_572_342)" />
                <defs>
                    <linearGradient id="paint0_linear_572_342" x1="1006.06" y1="1124.84" x2="118.121" y2="806.847"
                        gradientUnits="userSpaceOnUse">
                        <stop stop-color="#D8BAFF" />
                        <stop offset="1" stop-color="#E5A1E3" />
                    </linearGradient>
                </defs>
            </svg>
            <!-- Svg box below cards -->
            <svg class="svgs-1" xmlns="http://www.w3.org/2000/svg" width="1920" height="1398" viewBox="0 0 1920 1398"
                fill="none">
                <path
                    d="M991.067 83.6745C279.322 -136.537 -318.622 131.41 -528.627 292.91L-758.368 934.416C84.3088 1098.63 1763.21 1420.95 1737.39 1396.59C1711.57 1372.22 2024.57 554.488 2184.3 148.666C2083.12 218.757 1702.81 303.886 991.067 83.6745Z"
                    fill="url(#paint0_linear_572_7)" />
                <defs>
                    <linearGradient id="paint0_linear_572_7" x1="908.001" y1="-3.0507" x2="2014.66" y2="393.273"
                        gradientUnits="userSpaceOnUse">
                        <stop stop-color="#CBBAFF" />
                        <stop offset="1" stop-color="#FC8DCC" />
                    </linearGradient>
                </defs>
            </svg>

            <!-- Additional SVGs for foreground -->
            <svg class="svgs-2" xmlns="http://www.w3.org/2000/svg" width="1920" height="1353" viewBox="0 0 1920 1353"
                fill="none">
                <path
                    d="M972.57 65.1812C253.48 -129.712 -334.611 159.222 -538.77 328.051L-745.671 977.284C102.288 1111.58 1791.54 1374.3 1764.87 1350.87C1738.21 1327.43 2022.09 499.135 2167.36 87.9166C2068.72 161.544 1691.66 260.074 972.57 65.1812Z"
                    fill="url(#paint0_linear_572_9)" />
                <defs>
                    <linearGradient id="paint0_linear_572_9" x1="886.487" y1="-18.5509" x2="2006.47" y2="338.372"
                        gradientUnits="userSpaceOnUse">
                        <stop stop-color="#413863" />
                        <stop offset="1" stop-color="#543F67" />
                </defs>
            </svg>
            <svg class="svgs-3" xmlns="http://www.w3.org/2000/svg" width="1920" height="1311" viewBox="0 0 1920 1311"
                fill="none">
                <path
                    d="M1011.73 46.157C265.493 -118.423 -252.337 199.474 -417.972 378.995L-487.219 1043.51C373.052 1141.17 2085.84 1330.87 2054.82 1308.41C2023.81 1285.95 2131.71 437.26 2189.53 15.7246C2107.86 94.4437 1757.97 210.737 1011.73 46.157Z"
                    fill="#171031" />
            </svg>
            <div class="image-box-container-x">
                <div class="image-box-x" style="background-image: url('css/assets/ahmed.png');"></div>
                <div class="image-box-x" style="background-image: url('css/assets/aicha.png');"></div>
                <div class="image-box-x" style="background-image: url('css/assets/jean.png');"></div>
                <div class="image-box-x" style="background-image: url('css/assets/marie.png');"></div>
                <div class="image-box-x" style="background-image: url('css/assets/sarah.png');"></div>
                <div class="image-box-x" style="background-image: url('css/assets/aicha2.png');"></div>
            </div>

            <div class="image-box-large">

            </div>
            <div class="flex-container">
                <!-- <svg xmlns="http://www.w3.org/2000/svg" width="31" height="39" viewBox="0 0 31 39" fill="none">
                    <path d="M10.6334 29.3194C9.09235 29.3194 7.67294 28.4678 6.98351 27.0889L5.23965 23.6823L4.71244 23.439L0.0892015 33.2938C-0.235236 34.0237 0.373085 34.8348 1.14362 34.6726L5.52354 33.8615C5.72631 33.821 5.88853 33.9021 6.01019 34.0643L8.15959 37.9576C8.56514 38.647 9.57901 38.6064 9.90345 37.8764L14.4456 28.265L11.8906 29.1166C11.4851 29.2788 11.039 29.3194 10.6334 29.3194Z" fill="#F669B3"/>
                    
                  </svg> -->
                <div class="text-box-xx">
                    <p class="pricing-text">Our Pricing Plans</p>
                </div>
                <div class="box box-1"></div>
                <div class="box box-2"></div>
                <div class="box box-3"></div>
                <div class="box box-4"></div>
                <div class="box button-box-x">
                    <button class="custom-button-x">Create My Story</button>
                </div>
            </div>
            <div class="faq-container">
                <div class="faq-header">
                    <p>FAQ - Your Questions, Our Answers</p>
                  </div>
                <div class="faq-item">
                    <div class="question">
                        <div class="question-box">
                            <div class="question-text">
                                <p>What is a crystal and a parrot?</p>
                            </div>
                            <div class="arrow-down"></div>
                        </div>
                    </div>
                    <div class="answer">
                        <div class="answer-text">
                            <p>A crystal allows you to create a story in written format, and a parrot allows the creation in audio format.</p>
                        </div>
                    </div>
                </div>
                <div class="faq-item">
                    <div class="question">
                        <div class="question-box">
                            <div class="question-text">
                                <p>Are my stories saved?</p>
                            </div>
                            <div class="arrow-down"></div>
                        </div>
                    </div>
                    <div class="answer-width2">
                        <div class="answer-text">
                            <p>Yes, all stories that you create are saved in your account.</p>
                        </div>
                    </div>
                </div>
                <div class="faq-item">
                    <div class="question">
                        <div class="question-box">
                            <div class="question-text">
                                <p>Can I change my plan at any time?</p>
                            </div>
                            <div class="arrow-down"></div>
                        </div>
                    </div>
                    <div class="answer-width2">
                        <div class="answer-text">
                            <p>Absolutely, you can upgrade or downgrade your plan whenever you wish.</p>
                        </div>
                    </div>
                </div>
                <div class="faq-item">
                    <div class="question">
                        <div class="question-box">
                            <div class="question-text">
                                <p>Are the stories suitable for all ages?</p>
                            </div>
                            <div class="arrow-down"></div>
                        </div>
                    </div>
                    <div class="answer">
                        <div class="answer-text">
                            <p>Yes, you can customize the age of the characters to make the story appropriate for your child.</p>
                        </div>
                    </div>
                </div>
                <div class="faq-item">
                    <div class="question">
                        <div class="question-box">
                            <div class="question-text">
                                <p>What does customizing emotions and values add?</p>
                            </div>
                            <div class="arrow-down"></div>
                        </div>
                    </div>
                    <div class="answer">
                        <div class="answer-text">
                            <p>This allows you to create stories that are more aligned with what you want to impart to your children.</p>
                        </div>
                    </div>
                </div>
                <div class="faq-item">
                    <div class="question">
                        <div class="question-box">
                            <div class="question-text">
                                <p>How are crystals and parrots distributed?</p>
                            </div>
                            <div class="arrow-down"></div>
                        </div>
                    </div>
                    <div class="answer-width2">
                        <div class="answer-text">
                            <p>They are credited each month based on your subscription plan./p>
                        </div>
                    </div>
                </div>
                <div class="faq-item">
                    <div class="question">
                        <div class="question-box">
                            <div class="question-text">
                                <p>Is my subscription automatically renewed?</p>
                            </div>
                            <div class="arrow-down"></div>
                        </div>
                    </div>
                    <div class="answer-width2">
                        <div class="answer-text">
                            <p>Yes, your subscription is automatically renewed each month unless you choose to cancel.</p>
                        </div>
                    </div>
                </div>
                <div class="faq-item">
                    <div class="question">
                        <div class="question-box">
                            <div class="question-text">
                                <p>How can I cancel my subscription?</p>
                            </div>
                            <div class="arrow-down"></div>
                        </div>
                    </div>
                    <div class="answer-width2">
                        <div class="answer-text">
                            <p>You can cancel your subscription at any time from your account settings.</p>
                        </div>
                    </div>
                </div>
                <p class="faq-description">
                    Do you have questions? We have answers. Check out our FAQ below to learn more about how Storyia works and how we can transform your storytelling experience.
                  </p>
                  <p class="faq-adventure">
                    With Storyia, you have all the tools to enrich your child’s<br>imagination in whichever format suits you best. Don't miss out<br>on creating unforgettable family moments. Click below to<br>begin your storytelling adventure today.
                  </p>
                <!-- Add more FAQ items as needed -->
                <div class="box button-box-x">
                    <button class="custom-button-x" style="margin-top:39px ;">Create My Story</button>
                </div>
            </div>





        </div>
    </div>
    <script src="js/landing-page.js"></script>
</body>

</html>