<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/landing-page.css">
    <link rel="stylesheet" href="css/meta/global.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/meta/vertical-navbar.css">
    <link rel="preload" as="image" href="css/assets/bgmain.png">
    <link rel="preload" as="image" href="css/assets/bgmobile.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <style>
    body::after {
    content: "";
    display: block;
    width: 1px;
    height: 1px;
    background: transparent;
    transition: transform 0.1s;
}

    body.loaded::after {
    transform: translateY(0);
}
    a   {
            text-decoration: none;
    }


    .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%;
    padding: 20px; */
    /* background-color: #f8f9fa; Example background color */
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Adjust spacing between links as needed */
}

.sign-in-text {
    text-decoration: none;
    /* color: #000; Example text color */
}



    </style>
</head>

<body>
    <div class="navbar-container">
    <button class="navTrigger" id="navTrigger" >
        <svg viewBox="0 0 64 48">
          <path d="M19,15 L45,15 C70,15 58,-2 49.0177126,7 L19,37"></path>
          <path d="M19,24 L45,24 C61.2371586,24 57,49 41,33 L32,24"></path>
          <path d="M45,33 L19,33 C-8,33 6,-2 22,14 L45,37"></path>
        </svg>
      </button>
      <nav class="navMenu" id="navMenu" style="font-size: 14px;">
        <ul>
            <li>
                <div class="switch">
                    <input id="language-toggle" class="check-toggle check-toggle-round-flat" type="checkbox" onclick="toggleLanguage()">
                    <label for="language-toggle"></label>
                    <span class="on">EN</span>
                    <span class="off">FR</span>
                </div>
            </li>
          <li>
            <a href="/home">Home</a>
          </li>
          <li>
            <a href="/story">Create Story</a>
          </li>
          <li>
            <a href="#Testimonials">Testimonials</a>
          </li>
          <li>
            <a href="#Pricing">Pricing</a>
          </li>
          <li>
            <a href="#Features">Features</a>
          </li>
          <li>
            <a href="#FAQs">FAQs</a>
          </li>
        </ul>
      </nav>
    </div>

      <div class="navbar">
        <div class="icons-container">
          <div class="icon-item">
           
          </div>
          <div class="icon-item">
            
           
          </div>
        </div>
        <div class="nav-button-container">
            <!-- <a href="/profile" class="nav-button">Home</a>
          <a href="/subscribe" class="nav-button">Subscription</a>
          <a href="/profile" class="nav-button">Profile</a> -->
          <div class="switch">
            <input id="language-toggle" class="check-toggle check-toggle-round-flat" type="checkbox" onclick="toggleLanguage()">
            <label for="language-toggle"></label>
            <span class="on">EN</span>
            <span class="off">FR</span>
        </div>
        <script>function toggleLanguage() {
            var toggleSwitch = document.getElementById('language-toggle');
            var redirectUrl;
        
            if (toggleSwitch.checked) {
                // Redirect to URL for FR (French)
                redirectUrl = '/fr/';
            } else {
                // Redirect to URL for EN (English)
                redirectUrl = '/fr/';
            }
        
            // Redirect to the specified URL
            window.location.href = redirectUrl;
        }</script>
          <a href="/authenticate2" class="nav-button">Login</a>
          <a href="/authenticate" class="special-button">Create Account</a>
        </div>
      </div>
    <div class="section">

        <!-- Additional SVGs for foreground -->






       



        <div class="text-overlay">
            <span class="white-text">Storiya: Stories as</span><br>
            <span class="white-text">Unique as Your Children,</span><br>
            <span class="gradient-text">Now in Text and Audio.</span>
        </div>
        <div class="sub-text">The Freedom to Create Stories That Matter, <br>Both in Text and Audio.</div>
        <a href="/home">
            <div class="button-container">
                <button class="next-button" style="height: 56px; width: 280px;" >
                    Create My Story Now
                </button>
            </div>
        </a>

        <!-- Add the third dot SVG -->

        <!-- Add the fourth dot SVG -->

        <div class="image"></div>
        <div class="storyia-text">
           <p>At Storyia, we believe that every child<br>deserves a story that resonates with them.<br> Originating from the desire to democratize<br> access to quality reading at a fair price,<br> Storyia serves as a solution for parents who <br>are short on time, low on creativity, or who<br> simply wish to instill meaningful values<br> through storytelling, available in both text<br> and audio formats.</p>
        </div>
        <div class="text-class-2" id="Features"> <span>Discover Storyia Through Images</span></div>
        <div class="image-slider">
            <div class="slider">
                <div class="slide"><img class="helloa" src="css/assets/pic1.png" alt="Image 1"></div>
                <div class="slide"><img class="helloa"  src="css/assets/pic2.png" alt="Image 2"></div>
                <div class="slide"><img class="helloa"  src="css/assets/pic3.png" alt="Image 3"></div>
                <div class="slide"><img class="helloa"  src="css/assets/pic4.png" alt="Image 4"></div>
            </div>
        </div>
        <div class="slider-dots">
            <svg xmlns="http://www.w3.org/2000/svg" width="90" height="15" viewBox="0 0 90 15" fill="none">
                <circle cx="7.5" cy="7.5" r="7.5" fill="#CDADFF" />
                <circle cx="32.5" cy="7.5" r="7.5" fill="#615476" />
                <circle cx="57.5" cy="7.5" r="7.5" fill="#615476" />
                <circle cx="82.5" cy="7.5" r="7.5" fill="#615476" />
            </svg>
        </div>
        <div class="text-class-3"> <span>Choice of age and name for characters</span></div>
        <div class="sub-text-2"> <span>Dive into a world where your child is the hero. Discover how, with just a
                few</span></div>
        <div class="sub-text-3"> <span>clicks, Storyia is revolutionizing the world of children's
                storytelling.</span></div>

        <div class="image-box"></div>
        <div class="vec-1-box" id="Testimonials"></div>
        <div class="text-class-4"> <span>What Our Users Are Saying</span></div>
        <div class="sub-text-4"> <span>Join our community of parents who have discovered a revolutionary way to
                spark the</span></div>
        <div class="sub-text-5"> <span>curiosity and imagination of their children, available in both text and
                audio.</span></div>




        <!-- Svg box below cards -->


        <!-- Additional SVGs for foreground -->


        <div class="image-box-container-x">
            <div class="image-box-x target-box" style="background-image: url('css/assets/ahmed.png');"></div>
            <div class="image-box-x" style="background-image: url('css/assets/aicha.png');"></div>
            <div class="image-box-x target-box" style="background-image: url('css/assets/jean.png');"></div>
            <div class="image-box-x target-box" style="background-image: url('css/assets/marie.png');"></div>
            <div class="image-box-x target-box" style="background-image: url('css/assets/sarah.png');"></div>
            <div class="image-box-x target-box" style="background-image: url('css/assets/aicha2.png');"></div>
        </div>




        <div class="flex-container">
            <!-- <svg xmlns="http://www.w3.org/2000/svg" width="31" height="39" viewBox="0 0 31 39" fill="none">
                    <path d="M10.6334 29.3194C9.09235 29.3194 7.67294 28.4678 6.98351 27.0889L5.23965 23.6823L4.71244 23.439L0.0892015 33.2938C-0.235236 34.0237 0.373085 34.8348 1.14362 34.6726L5.52354 33.8615C5.72631 33.821 5.88853 33.9021 6.01019 34.0643L8.15959 37.9576C8.56514 38.647 9.57901 38.6064 9.90345 37.8764L14.4456 28.265L11.8906 29.1166C11.4851 29.2788 11.039 29.3194 10.6334 29.3194Z" fill="#F669B3"/>
                    
                  </svg> -->
            <div class="text-box-xx" id="Pricing">
                <p class="pricing-text">Our Pricing Plans</p>
            </div>
            <div class="box-m">
                <div class="box box-1" id="basic" onclick="updateButtonValue('basic')"></div>
                <div class="box box-d" id="discover" onclick="updateButtonValue('discover')"></div>
                <div class="box box-2" id="starter" onclick="updateButtonValue('starter')"></div>
                <div class="box box-3" id="value" onclick="updateButtonValue('value')"></div>
                <div class="box box-4" id="premium" onclick="updateButtonValue('premium')"></div>
            
               
            
            
                
            </div>
            <div class="button-box-x">
                <a href="/home">
                <button class="next-button" style="width: 320px;
                height: 65px;" href="/story">Create My Story</button>
                </a>
            </div>
        </div>
        <div class="faq-container" id="FAQs">
            <div class="faq-header">
                <p>FAQ - Your Questions, Our Answers</p>
            </div>
            <div class="faq-item">
                <div class="question">
                    <div class="question-box">
                        <div class="question-text">
                            <p>What is a crystal and a parrot?</p>
                        </div>
                        <div class="arrow-down"></div>
                    </div>
                </div>
                <div class="answer">
                    <div class="answer-text">
                        <p>A crystal allows you to create a story in written format, and a parrot allows the creation in
                            audio format.</p>
                    </div>
                </div>
            </div>
            <div class="faq-item">
                <div class="question">
                    <div class="question-box">
                        <div class="question-text">
                            <p>Are my stories saved?</p>
                        </div>
                        <div class="arrow-down"></div>
                    </div>
                </div>
                <div class="answer-width2">
                    <div class="answer-text">
                        <p>Yes, all stories that you create are saved in your account.</p>
                    </div>
                </div>
            </div>
            <div class="faq-item">
                <div class="question">
                    <div class="question-box">
                        <div class="question-text">
                            <p>Can I change my plan at any time?</p>
                        </div>
                        <div class="arrow-down"></div>
                    </div>
                </div>
                <div class="answer-width2">
                    <div class="answer-text">
                        <p>Absolutely, you can upgrade or downgrade your plan whenever you wish.</p>
                    </div>
                </div>
            </div>
            <div class="faq-item">
                <div class="question">
                    <div class="question-box">
                        <div class="question-text">
                            <p>Are the stories suitable for all ages?</p>
                        </div>
                        <div class="arrow-down"></div>
                    </div>
                </div>
                <div class="answer">
                    <div class="answer-text">
                        <p>Yes, you can customize the age of the characters to make the story appropriate for your
                            child.
                        </p>
                    </div>
                </div>
            </div>
            <div class="faq-item">
                <div class="question">
                    <div class="question-box">
                        <div class="question-text" style="height: fit-content;">
                            <p>What does customizing emotions and values add?</p>
                        </div>
                        <div class="arrow-down"></div>
                    </div>
                </div>
                <div class="answer">
                    <div class="answer-text">
                        <p>This allows you to create stories that are more aligned with what you want to impart to your
                            children.</p>
                    </div>
                </div>
            </div>
            <div class="faq-item">
                <div class="question">
                    <div class="question-box">
                        <div class="question-text">
                            <p>How are crystals and parrots distributed?</p>
                        </div>
                        <div class="arrow-down"></div>
                    </div>
                </div>
                <div class="answer-width2">
                    <div class="answer-text">
                        <p>They are credited each month based on your subscription plan.<p>
                    </div>
                </div>
            </div>
            <div class="faq-item">
                <div class="question">
                    <div class="question-box">
                        <div class="question-text">
                            <p>Is my subscription automatically renewed?</p>
                        </div>
                        <div class="arrow-down"></div>
                    </div>
                </div>
                <div class="answer-width2">
                    <div class="answer-text">
                        <p>Yes, your subscription is automatically renewed each month unless you choose to cancel.</p>
                    </div>
                </div>
            </div>
            <div class="faq-item">
                <div class="question">
                    <div class="question-box">
                        <div class="question-text">
                            <p>How can I cancel my subscription?</p>
                        </div>
                        <div class="arrow-down"></div>
                    </div>
                </div>
                <div class="answer-width2">
                    <div class="answer-text">
                        <p>You can cancel your subscription at any time from your account settings.</p>
                    </div>
                </div>
            </div>
            <p class="faq-description">
                Do you have questions? We have answers. Check out our FAQ above to learn more about how Storyia works
                and
                how we can transform your storytelling experience.
            </p>
            <p class="faq-adventure">
                With Storyia, you have all the tools to enrich your child's<br>imagination in whichever format suits you
                best. Don't miss out<br>on creating unforgettable family moments. Click below to<br>begin your
                storytelling
                adventure today.
            </p>
            <!-- Add more FAQ items as needed -->
            <a href="/home">
            <div class="button-box-x">
                <button class="next-button" style="width: 320px;
                height: 65px; margin-bottom: 10vh;" >Create My Story</button>
                </a>
            </div>
            <div class="downloadapp-flexbox">
                <div class="downloadapp-button">
                  <img src="css/assets/iosdownload.png" alt="Download for IOS">
                </div>
                <div class="downloadapp-button">
                  <img src="css/assets/androiddownload.png" alt="Download for Android">
                </div>
              </div>
              <div class="footer"><div class="text"><a href="/t&c"><span class="sign-in-text">Terms Of Use  </span></a>  |  <a href="/PrivacyPolicy"><span class="sign-in-text">  Privacy Policy  </span></a>  |  <a href="/aiact"><span class="sign-in-text">  AI ACT Compliance  </span></a>  |  <a href="/publishers"><span class="sign-in-text">  Legal Notices  </span></a>
              </div>
            </div>
        </div>
    </div>





    </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.body.classList.add('loaded');
        });
    </script>
    <script src="js/landing-page.js"></script>
    <script > document.addEventListener('DOMContentLoaded', function () {
        let burger = document.getElementById('navTrigger'),
            nav = document.getElementById('navMenu');
    
        // Add the 'active' class to hide the menu initially
       
    
        burger.addEventListener('click', function (e) {
            this.classList.toggle('active');
            nav.classList.toggle('active');
        });
    });
    </script>
</body>

</html>