<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SignUp Page</title>
  <link rel="stylesheet" type="text/css" href="css/meta/global.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700">
  
</head>
<style>
    .background {
    background-image: url('assets/signin-bg.png');
    background-repeat: no-repeat;
    background-position: top -285px;
    background: linear-gradient(180deg, #000E2F 0%, rgba(224, 139, 255, 0.10) 151.26%), url('assets/signin-bg.png');
    overflow: hidden;
    height: 100vh;
}
.body{ height: 100vh;
margin: 0;
padding: 0;}

.svg-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 15;
}

.background-svg {
    z-index: 16;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
}

.foreground-svg {
    z-index: 17;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
}




@media (max-width: 768px) {
    .flexbox,
    .flexbox-2 {
        top: 10%;
    }
.text{margin-top: 0px !important;}
    .signup-box {
        margin-top:150px !important;
    }
.boxz{width: 100%;
    max-width: 300px;
    margin-top: 5px !important;
    

}
#signUpPhoneNumber{
    width: 100%;
    max-width: 210px

}
#signUpButton{
   
    height: 20px !important;
    width: 100%;
        max-width: 220px;
}
    .input-field,
    .country-code,

    .line {
        height: 100%;
        max-height: 35px;
        width: 100%;
        max-width: 300px; /* Adjust the maximum width as needed */
         /* Center the elements */
    }

    .background-svg,
    .foreground-svg {
        width: 950px;
        height: 90vh;
        position: absolute;
        bottom: 0 !important;
        left: -450px;
    }

    /* .ellipse {
        width: 200px;
        height: 75px;
        top: 10%;
        left: 20%;
    } */
    .title{
        color: #FFF;
    font-family: 'Volkhov', serif;
    font-size: 26px !important;
    font-weight: 700;
    line-height: 48px;
    }
    .subtitle {
        color: #FFF;
        font-family: 'Noto Sans', sans-serif;
        font-size: 17px !important;
        font-weight: 500;
        line-height: 27px;
    }
    .next-button{
        width: 100%;
        max-width: 310px;
        margin-bottom: 10px !important;
    }
}

.line {
    margin-top: 10px;
    height: 3px;
    width: 490px;
    border: 3px;
    transform: rotate(0deg);
    background: linear-gradient(270deg, #C0A9FF 0%, rgba(132, 110, 189, 0) 49.77%, #C0A9FF 100%);
}

.text {
    margin-top: 25px;
    color: #FFF;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
}

.sign-in-text {
    color: #D1B5FE;
}

.flexbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    opacity: 1;
    transition: opacity 0.5s ease;
    /* Add a transition for smoother and slower opacity change */
}



.title {
    margin-top: -100px;
    color: #FFF;
    font-family: 'Volkhov', serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
}

.subtitle {
    color: #FFF;
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
}

.signup-box {
    margin-top: 400px;
    display: flex;
    flex-direction: column;
    z-index: 100;
}

.input-field {
    z-index: 103;
    width: 411px;
    height: 44.724px;
    flex-shrink: 0;
    border: none;
    border-radius: 10px;
    background: #FFF;
    margin: 2px 0;

    color: #767676;
    font-family: Noto Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.header-text {
    color: #FFF;
    text-align: left;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;
    margin-bottom: 2.6px;
    margin-left: 0px;
}

.password-container {
    position: relative;
}

.password-toggle {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.password-input {
    width: 100%;
    padding: 10px;
}

.password-toggle-icon {
    cursor: pointer;
}

.country-code {
    width: 78.19px;
    height: 45.724px;
    flex-shrink: 0;
    border: none;
    border-radius: 10px;
    background: #FFF;
    padding: 10px;
    color: #767676;
    font-family: Noto Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.boxz {
    margin-top: 0px;
}

.signup-button {
    width: 411px;
    height: 44.724px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 2px solid #A288CB;
    background: var(--Linear, linear-gradient(180deg, #22185B 0%, rgba(22, 14, 68, 0.86) 100%));
    color: #FFF;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 44.724px;
    cursor: pointer;
    margin: 25px 0;
    transition-duration: 0.5s;
}

.signup-button:hover {
    background: var(--Linear, linear-gradient(180deg, #22185B 0%, rgba(67, 4, 45, 0.86) 100%));
    /* Change the background color on hover */
    transform: translateY(-3px);
}

@keyframes fade-out-down {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(50px);
    }
}

@keyframes fade-in-up {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-out-down {
    animation: fade-out-down 1s both;
}

.fade-in-up {
    animation: fade-in-up 1s both;
}

.btn:link,
.btn:visited {

    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;

    transition: all .2s;
    position: relative;
    border-radius: 10px;
    border: 2px solid #A288CB;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;

    cursor: pointer;
    margin: 25px 0;
    background: var(--Linear, linear-gradient(180deg, #22185B 0%, rgba(22, 14, 68, 0.86) 100%));
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background: var(--Linear, linear-gradient(180deg, #22185B 0%, rgba(22, 14, 68, 0.86) 100%));
    color: #ffffff;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-animated {
    animation: moveInBottom 1s ease-out;
    animation-fill-mode: backwards;
}

.btn-white::after {
    background: var(--Linear, linear-gradient(180deg, #22185bbc 0%, rgba(22, 14, 68, 0.567) 100%))
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}


@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.ellipse {
    display: flex;
    width: 792px;
    height: 299.844px;
    flex-shrink: 0;
    background-image: url("assets/ellipse.png");

    background-size: cover;
    position: relative;
    top: 4%;
    left: 30%;
    opacity: 0;
    /* Start with 0 opacity to make it invisible */
    animation: ellipseMoveUp 1s ease-in forwards, ellipseGlitter 2s infinite;
    z-index: 10;

}

@keyframes ellipseMoveUp {
    0% {
        transform: translateY(500px);
        opacity: 0;
    }

    100% {
        transform: translateY(-10px);
        /* Move the ellipse up */
        opacity: 1;
        /* Make it visible */
    }


}

@keyframes ellipseGlitter {
    0% {
        opacity: 1;
    }

    10% {
        opacity: 0.9;
    }

    20% {
        opacity: 0.8;
    }

    30% {
        opacity: 0.7;
    }

    40% {
        opacity: 0.5;
    }

    50% {
        opacity: 0.35;
    }

    60% {
        opacity: 0.5;
    }

    70% {
        opacity: 0.7;
    }

    80% {
        opacity: 0.8;
    }

    90% {
        opacity: 0.9;
    }

    100% {
        opacity: 1;
    }
}
</style>

<body>
  <div class="background">
    <div class="svg-container">
      <!-- Background SVG -->
      <svg xmlns="http://www.w3.org/2000/svg" width="1920" height="827" viewBox="0 0 1920 827" fill="none"
        class="background-svg">
        <path
          d="M1061.79 50.8208C395.688 -83.657 -122.319 214.401 -298.061 380.24L-447.635 983.478C332.14 1055.11 1885.27 1193.45 1859.61 1173.71C1833.94 1153.97 2042.89 383.164 2150.57 0.229522C2065.19 73.1257 1727.89 185.299 1061.79 50.8208Z"
          fill="url(#paint0_linear_519_62)" />
        <defs>
          <linearGradient id="paint0_linear_519_62" x1="978.447" y1="-20.2514" x2="2019.09" y2="237.778"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="#C194FF" />
            <stop offset="1" stop-color="#03EEFF" />
          </linearGradient>
        </defs>
      </svg>

      <!-- Foreground SVG -->
      <svg xmlns="http://www.w3.org/2000/svg" width="1920" height="916" viewBox="0 0 1920 916" fill="none"
        class="foreground-svg">
        <path
          d="M1079.23 167.752C386.864 88.9311 -52.7423 426.537 -186 605.192V1215.05C603.462 1222.33 2174.82 1232.51 2144.57 1215.05C2114.32 1197.59 2131.96 416.871 2144.57 28.6934C2077.94 107.888 1771.59 246.572 1079.23 167.752Z"
          fill="url(#paint0_linear_519_63)" stroke="white" stroke-width="20" />
        <defs>
          <linearGradient id="paint0_linear_519_63" x1="979.825" y1="315.852" x2="979.825" y2="1769"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="#2A2065" />
            <stop offset="1" stop-color="#D7A7FF" />
          </linearGradient>
        </defs>
      </svg>
      <div class="ellipse"></div>

      <!-- Button Container -->
      <form action="/register" method="POST">
        <div class="flexbox" id="flexbox" style="display: block;">
          <div class="title">Otp Verification</div>
          <div class="subtitle">Verify Your account with Phone <br>number & Otp</div>
          <div class="signup-box">
            <!-- Sign-up fields and button -->
            
            <div class="boxz">
              <div class="header-text">Phone Number</div>
              <!-- Country code and phone input fields -->
              <div style="display: flex; align-items: center;">
                <select id="signUpCountryCode" class="country-code" name="prephoneNumber">
                  <option value="+1">+1</option>
                  <option value="+44">+44</option>
                  <option value="+49">+49</option>
                  <!-- Add more options as needed -->
                </select>
                <input id="signUpPhoneNumber" class="input-field" type="tel" placeholder="Phone" name="phoneNumber"
                  style="width: 321.282px; height: 44.724px; margin-left: 11px; flex-shrink: 0;">
              </div>
            </div>
          

            <button type="submit" class="next-button" style="width: 421px;height: 55px;border-radius: 10px;
            border: 2px solid #A288CB; color: white;
            
            background: var(--Linear, linear-gradient(180deg, #22185B 0%, rgba(22, 14, 68, 0.86) 100%));
            ">Get OTP</button>
          </div>

          <div class="text" id="toggle-sign-in" onclick="showNextPage()">Already have an Account? 
            <a href="/login"><span
              class="sign-in-text" id="toggle-text">Sign In</span></a></div>
        </div>
      </form>
      

      <script src="js/signup.js"></script>
    </div>
  </div>
</body>

</html>