<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>Story Generation Page 4</title>
    <link rel="stylesheet" href="css/meta/global.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/meta/vertical-navbar.css">


    <style>
         body::after {
    content: "";
    display: block;
    width: 1px;
    height: 1px;
    background: transparent;
    transition: transform 0.1s;
}

body.loaded::after {
    transform: translateY(0);
}

        body {
            margin: 0;
            padding: 0;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.74) 20.09%, rgba(0, 0, 0, 0.64) 48.97%, rgba(0, 0, 0, 0.75) 100%),
                url('css/assets/subs.png') center/cover no-repeat;
            height: 100vh;
            font-family: Arial, sans-serif;
            overflow: hidden;
        }
     
        @media (max-width: 768px) {

            .navbar {
                visibility: hidden;
            }

            .navTrigger {
                opacity: 1 !important;
            }

            .box {

               
                flex-shrink: 0;
                border-radius: 20px;
                

            }

            
            .box-1:hover {
      width: 640px;
      height: 100px !important;
      opacity: 0.8;
      background-image: url("css/assets/subx1b.png"); /* Add the path to your new image */
    }

        .box-3:hover {
      width: 640px;
      height: 100px !important;
      opacity: 0.8;
      background-image: url("css/assets/subx3b.png"); /* Add the path to your new image */
    }

        .box-5:hover {
      width: 640px;
      height: 100px !important;
      opacity: 0.8;
      background-image: url("css/assets/subx5b.png"); /* Add the path to your new image */
    }

        .box-4:hover {
      width: 640px;
      height: 115px !important;
      opacity: 0.8;
      background-image: url("css/assets/subx4b.png"); /* Add the path to your new image */
    }
        .box-2:hover {
      width: 640px;
      height: 100px !important;
      opacity: 0.8;
      background-image: url("css/assets/subx2b.png"); /* Add the path to your new image */
    }
    


        }

        .box-m {
            gap: 5PX;
            display: flex;
            flex-direction: column;
 justify-content: center;
 align-items: center;
            z-index: 1;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

        }


        .box {
            width: 640px;
            height: 180px;
            flex-shrink: 0;
            border-radius: 20px;
            z-index: 100;
            transition: box-shadow 0.3s ease, transform 0.3s ease, border 0.3s ease, margin 0.3s ease ; /* Smoother transitions */
        }
        .box:hover {
            border: 3px solid #F669B3;;
            margin-top: 10px;
            margin-bottom:10px ;
    box-shadow: 0px 20px 40px 0px rgba(255, 255, 255, 0.518); /* Enhance raise effect */
    /* Lift the card slightly on hover */
    z-index: 999; /* Make the hovered card appear above other cards */
}

        .box-1 {
            width: 600px;
      height: 100px;
      flex-shrink: 0;
      background-color: #e0e0e0; /* Adding a background color for visualization */
      transition: height 0.5s, width 0.5s, opacity 0.5s, background-image 0.5s;
           
            border: 2px solid #FFF;
            
            background-size: cover, cover;
            /* Set background-size for both layers */
            background-repeat: no-repeat;
            background-image: url("css/assets/subx1a.png")
        }

        .box-3 {
            width: 600px;
      height: 100px;
      flex-shrink: 0;
      background-color: #e0e0e0; /* Adding a background color for visualization */
      transition: height 0.5s, width 0.5s, opacity 0.5s, background-image 0.5s;
            /* New height for box-5 */
            border: 2px solid #FFF;
            background: var(--Linear, linear-gradient(180deg, #1F1751 0%, #070C21 157.08%));
            background-size: cover, cover;
            /* Set background-size for both layers */
            background-repeat: no-repeat;
            background-image: url("css/assets/subx3a.png")
        }

        .box-5 {
            width: 600px;
      height: 100px;
      flex-shrink: 0;
      background-color: #e0e0e0; /* Adding a background color for visualization */
      transition: height 0.5s, width 0.5s, opacity 0.5s, background-image 0.5s;
            /* New height for box-5 */
            border: 2px solid #FFF;
            background: var(--Linear, linear-gradient(180deg, #1F1751 0%, #070C21 157.08%));
            background-size: cover, cover;
            /* Set background-size for both layers */
            background-repeat: no-repeat;
            background-image: url("css/assets/subx5a.png");
        }

        .box-4 { width: 600px;
      height: 100px;
      flex-shrink: 0;
      background-color: #e0e0e0; /* Adding a background color for visualization */
      transition: height 0.5s, width 0.5s, opacity 0.5s, background-image 0.5s;
            border: 2px solid #FFF;
            
            background: #FDF0F2;
            background-size: cover, cover;
            /* Set background-size for both layers */
            background-repeat: no-repeat;
            background-image: url("css/assets/subx4a.png");

        }
        .selected-box {
    border: 3px solid #F669B3;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 20px 40px 0px rgba(255, 255, 255, 0.518);
    z-index: 999;
}
.box-2.selected-box {
    border: 3px solid #F669B3;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 20px 40px 0px rgba(255, 255, 255, 0.518);
    z-index: 999;
}

        .box-2 { width: 600px;
      height: 100px;
      flex-shrink: 0;
      background-color: #e0e0e0; /* Adding a background color for visualization */
      transition: height 0.5s, width 0.5s, opacity 0.5s, background-image 0.5s;
            border: 2px solid #FFF;
            
            background: #FDF0F2;
            background-size: cover, cover;
            /* Set background-size for both layers */
            background-repeat: no-repeat;
            background-image: url("css/assets/subx2a.png");

        }
        /*Hover Animations */


        .box-1:hover {
      width: 640px;
      height: 180px;
      opacity: 0.8;
      background-image: url("css/assets/subx1b.png"); /* Add the path to your new image */
    }

        .box-3:hover {
      width: 640px;
      height: 180px;
      opacity: 0.8;
      background-image: url("css/assets/subx3b.png"); /* Add the path to your new image */
    }

        .box-5:hover {
      width: 640px;
      height: 180px;
      opacity: 0.8;
      background-image: url("css/assets/subx5b.png"); /* Add the path to your new image */
    }

        .box-4:hover {
      width: 640px;
      height: 180px;
      opacity: 0.8;
      background-image: url("css/assets/subx4b.png"); /* Add the path to your new image */
    }
        .box-2:hover {
      width: 640px;
      height: 180px;
      opacity: 0.8;
      background-image: url("css/assets/subx2b.png"); /* Add the path to your new image */
    }
    .primary_child{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #0000004e;
        height: 90vh;
        width: 90vw;
        margin: auto;
        margin-top: 5vh;
        margin-bottom: 5vh;
        align-self: center;
        box-shadow: inset 0px 0px 25px rgba(255, 255, 255, 0.5);
        border-radius: 20px;
        border: 1px solid #ffffff31;
        backdrop-filter: blur(7PX);
        background-color: #ffffff05;
    }
    .heading{
        color: #e0e0e0;
        margin-bottom: 20px;
        margin-top: 5vh;
        font-size: 32px;
        font-weight: bold;
        font-family: volkov;
    }
    .secondary_child{

        margin-top: 0px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: center; */
        height: fit-content;
        width: 80vw;
        max-height: 80vh;
        overflow-y: scroll;
        font-size: 24px;
        font-family: noto-sans;
        color: #e0e0e0;
    }
    </style>

</head>

<body>
   
      
    <script>function toggleLanguage() {
        var toggleSwitch = document.getElementById('language-toggle');
        var redirectUrl;
    
        if (toggleSwitch.checked) {
            // Redirect to URL for BN (Bangla)
            redirectUrl = '/fr/PrivacyPolicy';
        } else {
            // Redirect to URL for EN (English)
            redirectUrl = '/fr/PrivacyPolicy';
        }
    
        // Redirect to the specified URL
        window.location.href = redirectUrl;
    }</script>
    <button class="navTrigger" id="navTrigger">
        <svg viewBox="0 0 64 48">
            <path d="M19,15 L45,15 C70,15 58,-2 49.0177126,7 L19,37"></path>
            <path d="M19,24 L45,24 C61.2371586,24 57,49 41,33 L32,24"></path>
            <path d="M45,33 L19,33 C-8,33 6,-2 22,14 L45,37"></path>
        </svg>
    </button>
    <nav class="navMenu" id="navMenu">
        <ul>
            <li>
                <div class="switch">
                  <input id="language-toggle" class="check-toggle check-toggle-round-flat" type="checkbox" onclick="toggleLanguage()">
                  <label for="language-toggle"></label>
                  <span class="on">EN</span>
                  <span class="off">FR</span>
              </div>
              </li>
              <li>
                <a href="/">Home</a>
            </li>
            <!-- <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/story">Create Story</a>
            </li>
            <li>
                <a href="/storyhistory">Story History</a>
            </li>
            <li>
                <a href="/profile">Profile</a>
            </li>
            <li>
                <a href="/subscribe">Subscription</a>
            </li> -->
        </ul>
    </nav>
    <div class="navbar">
       
        <div class="nav-button-container">
                <div class="switch">
                  <input id="language-toggle" class="check-toggle check-toggle-round-flat" type="checkbox" onclick="toggleLanguage()">
                  <label for="language-toggle"></label>
                  <span class="on">EN</span>
                  <span class="off">FR</span>
              </div>
              <a href="/" class="nav-button">Home</a>
            <!-- <a href="/" class="nav-button">Home</a>
          <a href="/subscribe" class="nav-button">Subscription</a>
          <a href="/profile" class="nav-button">Profile</a>
          <a href="/storyhistory" class="nav-button">Story History</a>
          <a href="/story" class="special-button">Create Story</a> -->
        </div>
        
      </div>
    

    <div class="ellipse"></div>
    <!-- subscription-form.ejs -->

    <div class="primary_child">
        <div class="heading" >Privacy Policy</div>
        <div class="secondary_child">
            <br>1. Introduction <br>
&emsp;At Storyia.app, we take your privacy seriously and are committed to protecting the personal data of our users. This privacy policy explains how we collect, use, and <br>
&emsp;manage your personal information. <br>

<br>2. Information Collection <br>
&emsp;We collect the following types of information from our users: <br>
&emsp;Names <br>
&emsp;Email addresses <br>
&emsp;Telephone numbers <br>
&emsp;This information is collected when you use our services, for example during registration, while using our services, or when communicating with us. <br>

<br>3. Use of Information <br>
&emsp;Your personal information is used for the following purposes: <br>
&emsp;Marketing: To send you promotional information and personalized offers, subject to your consent. <br>
&emsp;Service Improvement: To understand the needs of our users and to improve the quality and experience of our services. <br>

<br>4. Information Sharing <br>
&emsp;We do not share your personal information with third parties, except as required by law. <br>

<br>5. Storage and Security <br>
&emsp;Your personal information is securely stored in a database. We implement technical and organizational security measures to protect your data from unauthorized <br>
&emsp;access, alteration, disclosure, or destruction. <br>

<br>6. User Rights <br>
&emsp;As a user, you have the following rights regarding your personal data: <br>
&emsp;Access your personal data. <br>
&emsp;Modify or update your information. <br>
&emsp;Request the deletion of your personal data. <br>
&emsp;To exercise these rights, please contact us using the details provided at the end of this policy. <br>

<br>7. Cookies and Tracking Technologies <br>
&emsp;We use cookies and other tracking technologies such as Google Analytics, Meta Ads, and TikTok Ads to analyze traffic and improve your experience on our site. <br>
&emsp;You can configure your browser to reject some or all cookies. <br>

<br>8. Changes to the Privacy Policy <br>
&emsp;We may update our privacy policy from time to time. We encourage you to regularly review this page to stay informed of any changes. <br>

<br>9. Contact Us <br>
&emsp;If you have any questions about this privacy policy or how we handle your personal data, please do not hesitate to contact us at contact@storyia.com. <br>


           </div>

    </div>




    
    


    <!-- Modal -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.body.classList.add('loaded');
        });
    </script>

    <script src="js/vnav.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <!-- <script src="js/subscription.js"></script> -->
</body>

</html>