<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Story Generation Page 4</title>
    <link rel="stylesheet" href="css/meta/global.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/meta/vertical-navbar.css">


    <style>
        body {
            margin: 0;
            padding: 0;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.74) 20.09%, rgba(0, 0, 0, 0.64) 48.97%, rgba(0, 0, 0, 0.75) 100%),
                url('css/assets/subs.png') center/cover no-repeat;
            height: 100vh;
            font-family: Arial, sans-serif;
            overflow: hidden;
        }

        @media (max-width: 768px) {

            .navbar {
                visibility: hidden;
            }

            .navTrigger {
                opacity: 1 !important;
            }

            .box {

               
                flex-shrink: 0;
                border-radius: 20px;
                

            }

            .box-1 {
                max-width: 85.5vw;
               height: 60px !important;
                border: 2px solid #FFF;
                background: var(--Linear, linear-gradient(180deg, #1F1751 0%, #070C21 157.08%));
                background-size: cover, cover;
                /* Set background-size for both layers */
                background-repeat: no-repeat;
                background-image: url("css/assets/sub1.png")
            }
            .box-d { max-width: 85.5vw;
                height: 60px !important;
      flex-shrink: 0;
      background-color: #e0e0e0; /* Adding a background color for visualization */
      transition: height 0.5s, width 0.5s, opacity 0.5s, background-image 0.5s;
            border: 2px solid #FFF;
            
            background: #FDF0F2;
            background-size: cover, cover;
            /* Set background-size for both layers */
            background-repeat: no-repeat;
            background-image: url("css/assets/subx2a.png");

        }
            .box-2 {
                max-width: 85.5vw;
                height: 60px !important;
                /* New height for box-4 */
                border: 2px solid #FFF;
               
                background-size: cover, cover;
                /* Set background-size for both layers */
                background-repeat: no-repeat;
                background-image: url("css/assets/sub2.png")
            }

            .box-4 {
                max-width: 85.5vw;
                height: 60px !important;
                /* New height for box-4 */
                border: 2px solid #FFF;
         
                background-size: cover, cover;
                /* Set background-size for both layers */
                background-repeat: no-repeat;
                background-image: url("css/assets/sub4.png");
            }

            .box-3 {
                max-width: 90.5vw !important;
                height: 60px !important;
               
                background-size: cover, cover;
                /* Set background-size for both layers */
                background-repeat: no-repeat;
                background-image: url("css/assets/sub3.png");

            }

            .next-button {
                max-height: 50px;
                max-width: 80.5vw;
                margin-left: 3px !important;
            }
            .box-1:hover {
      width: 640px;
      height: 100px !important;
      opacity: 0.8;
      background-image: url("css/assets/subx1b.png"); /* Add the path to your new image */
    }

        .box-2:hover {
      width: 640px;
      height: 100px !important;
      opacity: 0.8;
      background-image: url("css/assets/subx3b.png"); /* Add the path to your new image */
    }

        .box-4:hover {
      width: 640px;
      height: 100px !important;
      opacity: 0.8;
      background-image: url("css/assets/subx5b.png"); /* Add the path to your new image */
    }

        .box-3:hover {
      width: 640px;
      height: 100px !important;
      opacity: 0.8;
      background-image: url("css/assets/subx4b.png"); /* Add the path to your new image */
    }
        .box-d:hover {
      width: 640px;
      height: 100px !important;
      opacity: 0.8;
      background-image: url("css/assets/subx2b.png"); /* Add the path to your new image */
    }
    


        }

        .box-m {
            gap: 5PX;
            display: flex;
            flex-direction: column;
 justify-content: center;
 align-items: center;
            z-index: 1;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

        }


        .box {
            width: 640px;
            height: 180px;
            flex-shrink: 0;
            border-radius: 20px;
            z-index: 100;
            transition: box-shadow 0.3s ease, transform 0.3s ease, border 0.3s ease, margin 0.3s ease ; /* Smoother transitions */
        }
        .box:hover {
            border: 3px solid #F669B3;;
            margin-top: 10px;
            margin-bottom:10px ;
    box-shadow: 0px 20px 40px 0px rgba(255, 255, 255, 0.518); /* Enhance raise effect */
    /* Lift the card slightly on hover */
    z-index: 999; /* Make the hovered card appear above other cards */
}

        .box-1 {
            width: 600px;
      height: 100px;
      flex-shrink: 0;
      background-color: #e0e0e0; /* Adding a background color for visualization */
      transition: height 0.5s, width 0.5s, opacity 0.5s, background-image 0.5s;
           
            border: 2px solid #FFF;
            
            background-size: cover, cover;
            /* Set background-size for both layers */
            background-repeat: no-repeat;
            background-image: url("css/assets/subx1a.png")
        }

        .box-2 {
            width: 600px;
      height: 100px;
      flex-shrink: 0;
      background-color: #e0e0e0; /* Adding a background color for visualization */
      transition: height 0.5s, width 0.5s, opacity 0.5s, background-image 0.5s;
            /* New height for box-4 */
            border: 2px solid #FFF;
            background: var(--Linear, linear-gradient(180deg, #1F1751 0%, #070C21 157.08%));
            background-size: cover, cover;
            /* Set background-size for both layers */
            background-repeat: no-repeat;
            background-image: url("css/assets/subx3a.png")
        }

        .box-4 {
            width: 600px;
      height: 100px;
      flex-shrink: 0;
      background-color: #e0e0e0; /* Adding a background color for visualization */
      transition: height 0.5s, width 0.5s, opacity 0.5s, background-image 0.5s;
            /* New height for box-4 */
            border: 2px solid #FFF;
            background: var(--Linear, linear-gradient(180deg, #1F1751 0%, #070C21 157.08%));
            background-size: cover, cover;
            /* Set background-size for both layers */
            background-repeat: no-repeat;
            background-image: url("css/assets/subx5a.png");
        }

        .box-3 { width: 600px;
      height: 100px;
      flex-shrink: 0;
      background-color: #e0e0e0; /* Adding a background color for visualization */
      transition: height 0.5s, width 0.5s, opacity 0.5s, background-image 0.5s;
            border: 2px solid #FFF;
            
            background: #FDF0F2;
            background-size: cover, cover;
            /* Set background-size for both layers */
            background-repeat: no-repeat;
            background-image: url("css/assets/subx4a.png");

        }
        .box-d { width: 600px;
      height: 100px;
      flex-shrink: 0;
      background-color: #e0e0e0; /* Adding a background color for visualization */
      transition: height 0.5s, width 0.5s, opacity 0.5s, background-image 0.5s;
            border: 2px solid #FFF;
            
            background: #FDF0F2;
            background-size: cover, cover;
            /* Set background-size for both layers */
            background-repeat: no-repeat;
            background-image: url("css/assets/subx2a.png");

        }
        /*Hover Animations */


        .box-1:hover {
      width: 640px;
      height: 180px;
      opacity: 0.8;
      background-image: url("css/assets/subx1b.png"); /* Add the path to your new image */
    }

        .box-2:hover {
      width: 640px;
      height: 180px;
      opacity: 0.8;
      background-image: url("css/assets/subx3b.png"); /* Add the path to your new image */
    }

        .box-4:hover {
      width: 640px;
      height: 180px;
      opacity: 0.8;
      background-image: url("css/assets/subx5b.png"); /* Add the path to your new image */
    }

        .box-3:hover {
      width: 640px;
      height: 180px;
      opacity: 0.8;
      background-image: url("css/assets/subx4b.png"); /* Add the path to your new image */
    }
        .box-d:hover {
      width: 640px;
      height: 180px;
      opacity: 0.8;
      background-image: url("css/assets/subx2b.png"); /* Add the path to your new image */
    }
    
    </style>

</head>

<body>
    <div class="icons-container-2">
        <div class="icon-item">
          <img src="css/assets/gem.png" alt="Icon 1">
          <span class="icon-number"><%= gems %></span>
        </div>
        <div class="icon-item">
          <img src="css/assets/parrot.png" alt="Icon 2">
          <span class="icon-number"><%= parrots %></span>
        </div>
      </div>
    <button class="navTrigger" id="navTrigger">
        <svg viewBox="0 0 64 48">
            <path d="M19,15 L45,15 C70,15 58,-2 49.0177126,7 L19,37"></path>
            <path d="M19,24 L45,24 C61.2371586,24 57,49 41,33 L32,24"></path>
            <path d="M45,33 L19,33 C-8,33 6,-2 22,14 L45,37"></path>
        </svg>
    </button>
    <nav class="navMenu" id="navMenu">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/story">Create Story</a>
            </li>
            <li>
                <a href="/storyhistory">Story History</a>
            </li>
            <li>
                <a href="/profile">Profile</a>
            </li>
            <li>
                <a href="/subscribe">Subscription</a>
            </li>
        </ul>
    </nav>
    <div class="navbar">
        <div class="icons-container">
          <div class="icon-item">
            <img src="css/assets/gem.png" alt="Icon 1">
            <span class="icon-number"><%= gems %></span>
          </div>
          <div class="icon-item">
            <img src="css/assets/parrot.png" alt="Icon 2">
            <span class="icon-number"><%= parrots %></span>
          </div>
        </div>
        <div class="nav-button-container">
          <a href="/subscribe" class="nav-button">Subscription</a>
          <a href="/profile" class="nav-button">Profile</a>
          <a href="/storyhistory" class="nav-button">Story History</a>
          <a href="/story" class="special-button">Create Story</a>
        </div>
      </div>
    

    <div class="ellipse"></div>
    <form action="/subscribe" method="post" id="subscriptionForm" onsubmit="updateHiddenInput()">
        <div class="box-m">
            <div class="box box-1" id="basic"></div>
            <div class="box box-d" id="discover"></div>
            <div class="box box-2" id="starter"></div>
            <div class="box box-3" id="value"></div>
            <div class="box box-4" id="premium"></div>
    
            <!-- Hidden input field to store the selected box ID -->
            <input type="hidden" id="selectedBoxId" name="selectedBoxId" value="">
    
            <button class="next-button" type="submit" id="nextPaymentButton" style="width: 513px;
                height: 63px;
                flex-shrink: 0;
                border-radius: 15px;
                background: #FFF;
                box-shadow: 0px 3px 21px 0px rgba(43, 36, 82, 0.40);">Next Payment</button>
        </div>
    </form>
    
    


    <!-- Modal -->


    <script src="js/vnav.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <script src="js/subscription.js"></script>
</body>

</html>