body {
    margin: 0;
    padding: 0;
    background: radial-gradient(32.59% 32.59% at 50% 72.34%, rgba(0, 0, 0, 0.22) 0%, rgba(0, 0, 0, 0.68) 100%),
        url('assets/homepic.png') center/cover no-repeat;
    height: 100vh;
    width: 100%;
   
    font-family: Arial, sans-serif;
    overflow: hidden;
}.card:hover {
    box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.694); /* Enhance raise effect */
    transform: translateY(-10px); /* Lift the card slightly on hover */
    /* Increase height on hover */
    z-index: 2; /* Make the hovered card appear above other cards */
}

.flex-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.card-container {
    width: 95%;
    /* Make it full-width */
    max-width: 1830px;
    /* Maximum width for the card container */
    flex-shrink: 0;
    border-radius: 25px;
    background: #FDF0F2;
    box-shadow: 0px 4px 55px 0px rgba(21, 14, 57, 0.60) inset;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
    position: absolute;
    bottom: 0%;
    margin-top: 160px;
    
    overflow-x: hidden;
    
    /* Add scrollbar if needed */
    animation: containerSlideOut 2s ease-out forwards;
}

.card-box {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
    max-width: 1803px;
    animation: cardsSlideIn 3s ease-in forwards;
}

.card {
    margin-top: 10px;
    transition: box-shadow 0.3s ease, transform 0.3s ease, width 0.3s ease, height 0.3s ease; /* Smoother transitions */
    width: 202px;
    height: 279px;
    flex-shrink: 0;
    border-radius: 25px;
    background: linear-gradient(180deg, #000 4.63%, rgba(0, 0, 0, 0.00) 71.87%);

    /* Add margin for spacing */

    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(180deg, #000 4.63%, rgba(0, 0, 0, 0.00) 71.87%), url("assets/card.png");
    background-size: cover;
    margin-bottom: 30px;
    margin-left: 30px;


}
@media (max-width: 768px) {
    .text-style-head-xx{
        font-size: 27px !important;
    }
  
    .card-container {
        width: 96vw;
       max-width: 559px;
height: 280px !important;
flex-shrink: 0;
margin-bottom: 50px !important;


    }
    .text-style-head{
        margin-top: 30% !important;
        font-size:25px ;
    }
    .text-style-sub{
        font-size: 16px;
    }
    .card-box{
        overflow-y: hidden;
        overflow-x: scroll;
    }
    
    .card {

        max-height: 90%;
        max-width: 35%;
        margin-left: 10px !important;
        flex-shrink: 0;
        border-radius: 25px;
        background: linear-gradient(180deg, #000 4.63%, rgba(0, 0, 0, 0.00) 71.87%);
    
        /* Add margin for spacing */
    
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
        background-image: linear-gradient(180deg, #000 4.63%, rgba(0, 0, 0, 0.00) 71.87%), url("assets/card.png");
        background-size: cover;
        margin-bottom: 23px !important;
        margin-left: 10px !important;
    
    }   
    .navbar{
        visibility: hidden;
    }
   
    .navTrigger{
        opacity: 1 !important;
    }

}
.card-text-1 {
    color: #FFF;
    text-align: center;
    font-family: Volkhov;
    font-size: 18.5px !important;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    /* 33px */
}

.card-text-2 {
    margin-top: -20px;
    color: #FFA8CF;
    text-align: center;
    font-family: Noto Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    /* 27px */
}

@keyframes containerSlideOut {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(13%);
        opacity: 1;
    }
}

@keyframes cardsSlideIn {
    0% {
        
        opacity: 0;
    }
    50%{transform: translateX(100%);
    opacity: 0;}

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}