<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../css/landing-page.css">
    <link rel="stylesheet" href="../css/meta/global.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/meta/vertical-navbar.css">
    

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
</head>

<body>
    <button class="navTrigger" id="navTrigger" >
        <svg viewBox="0 0 64 48">
          <path d="M19,15 L45,15 C70,15 58,-2 49.0177126,7 L19,37"></path>
          <path d="M19,24 L45,24 C61.2371586,24 57,49 41,33 L32,24"></path>
          <path d="M45,33 L19,33 C-8,33 6,-2 22,14 L45,37"></path>
        </svg>
      </button>
      <nav class="navMenu" id="navMenu" style="font-size: 14px;">
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/story">Create Story</a>
          </li>
          <li>
            <a href="#Testimonials">Testimonials</a>
          </li>
          <li>
            <a href="#Pricing">Pricing</a>
          </li>
          <li>
            <a href="#Features">Features</a>
          </li>
          <li>
            <a href="#FAQs">FAQs</a>
          </li>
        </ul>
      </nav>

      <div class="navbar">
        <div class="icons-container">
          <div class="icon-item">
           
          </div>
          <div class="icon-item">
            
           
          </div>
        </div>
        <div class="nav-button-container">
            <!-- <a href="/profile" class="nav-button">Home</a>
          <a href="/subscribe" class="nav-button">Subscription</a>
          <a href="/profile" class="nav-button">Profile</a> -->
          <a href="/authenticate2" class="nav-button">Login</a>
          <a href="/authenticate" class="special-button">Create Account</a>
        </div>
      </div>
    <div class="section">

        <!-- Additional SVGs for foreground -->






       



        <div class="text-overlay">
            <span class="white-text">Storiya: Des histoires aussi</span><br>
            <span class="white-text">uniques que vos enfants</span><br>
            <span class="gradient-text">Maintenant en audio et texte</span>
        </div>
        <div class="sub-text">La liberté de créer des histoires qui comptent,<br>à la fois en texte et en audio</div>
        <a href="/">
            <div class="button-container">
                <button class="next-button" style="height: 56px; width: 280px;" >
                    Créez maintenant !
                </button>
            </div>
        </a>

        <!-- Add the third dot SVG -->

        <!-- Add the fourth dot SVG -->

        <div class="image"></div>
        <div class="storyia-text">
           <p>Chez Storyia, nous croyons que chaque enfant mérite une histoire<br>qui leur parle. Originaire du désir de démocratiser l'accès à la<br>lecture de qualité à un prix équitable, Storyia sert de solution pour les parents<br>qui manquent de temps, de créativité, ou qui souhaitent simplement<br>inculquer des valeurs significatives grâce à la narration, disponible en<br>formats texte et audio.</p>
        </div>
        <div class="text-class-2" id="Features"> <span>Découvrez Storyia à travers les images</span></div>
        <div class="image-slider">
            <div class="slider">
                <div class="slide"><img src="../css/assets/pic1.png" alt="Image 1"></div>
                <div class="slide"><img src="../css/assets/pic2.png" alt="Image 2"></div>
                <div class="slide"><img src="../css/assets/pic3.png" alt="Image 3"></div>
                <div class="slide"><img src="../css/assets/pic4.png" alt="Image 4"></div>
            </div>
        </div>
        <div class="slider-dots">
            <svg xmlns="http://www.w3.org/2000/svg" width="90" height="15" viewBox="0 0 90 15" fill="none">
                <circle cx="7.5" cy="7.5" r="7.5" fill="#CDADFF" />
                <circle cx="32.5" cy="7.5" r="7.5" fill="#615476" />
                <circle cx="57.5" cy="7.5" r="7.5" fill="#615476" />
                <circle cx="82.5" cy="7.5" r="7.5" fill="#615476" />
            </svg>
        </div>
        <div class="text-class-3"> <span>Choix de l'âge et du nom, des rôles de genre<br>et tout ce que vous souhaitez pour vos personnages</span></div>
        <div class="sub-text-2"> <span>Plongez dans un monde où votre enfant est le héros. Découvrez comment, en</span></div>
        <div class="sub-text-3"> <span>quelques clics, Storyia révolutionne le monde de la narration pour enfants.</span></div>

        <div class="image-box"></div>
        <div class="vec-1-box" id="Testimonials"></div>
        <div class="text-class-4"> <span>Ce que disent nos utilisateurs</span></div>
        <div class="sub-text-4"> <span>Rejoignez notre communauté de parents qui ont découvert une façon révolutionnaire</span></div>
        <div class="sub-text-5"> <span>d'éveiller la curiosité et l'imagination de leurs enfants</span></div>




        <!-- Svg box below cards -->


        <!-- Additional SVGs for foreground -->


        <div class="image-box-container-x">
            <div class="image-box-x target-box" style="background-image: url('../css/assets/ahmed.png');"></div>
            <div class="image-box-x target-box" style="background-image: url('../css/assets/aicha.png');"></div>
            <div class="image-box-x target-box" style="background-image: url('../css/assets/jean.png');"></div>
            <div class="image-box-x target-box" style="background-image: url('../css/assets/marie.png');"></div>
            <div class="image-box-x target-box" style="background-image: url('../css/assets/sarah.png');"></div>
            <div class="image-box-x target-box" style="background-image: url('../css/assets/aicha2.png');"></div>
        </div>




        <div class="flex-container">
            <!-- <svg xmlns="http://www.w3.org/2000/svg" width="31" height="39" viewBox="0 0 31 39" fill="none">
                    <path d="M10.6334 29.3194C9.09235 29.3194 7.67294 28.4678 6.98351 27.0889L5.23965 23.6823L4.71244 23.439L0.0892015 33.2938C-0.235236 34.0237 0.373085 34.8348 1.14362 34.6726L5.52354 33.8615C5.72631 33.821 5.88853 33.9021 6.01019 34.0643L8.15959 37.9576C8.56514 38.647 9.57901 38.6064 9.90345 37.8764L14.4456 28.265L11.8906 29.1166C11.4851 29.2788 11.039 29.3194 10.6334 29.3194Z" fill="#F669B3"/>
                    
                  </svg> -->
            <div class="text-box-xx" id="Pricing">
                <p class="pricing-text">Plans de Souscription</p>
            </div>
            <div class="box-m">
                <div class="box box-1" id="basic" onclick="updateButtonValue('basic')"></div>
                <div class="box box-d" id="discover" onclick="updateButtonValue('discover')"></div>
                <div class="box box-2" id="starter" onclick="updateButtonValue('starter')"></div>
                <div class="box box-3" id="value" onclick="updateButtonValue('value')"></div>
                <div class="box box-4" id="premium" onclick="updateButtonValue('premium')"></div>
            
               
            
            
                
            </div>
            <div class="box button-box-x">
                <a href="/">
                <button class="next-button" style="width: 320px;
                height: 65px;" href="/story">Créez mon histoire maintenant</button>
                </a>
            </div>
        </div>
        <div class="faq-container" id="FAQs">
            <div class="faq-header">
                <p>FAQ - Your Questions, Our Answers</p>
            </div>
            <div class="faq-item">
                <div class="question">
                    <div class="question-box">
                        <div class="question-text">
                            <p>Qu'est-ce qu'une gemme et un perroquet ?</p>
                        </div>
                        <div class="arrow-down"></div>
                    </div>
                </div>
                <div class="answer">
                    <div class="answer-text">
                        <p>Une gemme vous permet de créer une histoire au format écrit, et un perroquet permet la création au format audio.</p>
                    </div>
                </div>
            </div>
            <div class="faq-item">
                <div class="question">
                    <div class="question-box">
                        <div class="question-text">
                            <p>Mes histoires sont-elles sauvegardées?</p>
                        </div>
                        <div class="arrow-down"></div>
                    </div>
                </div>
                <div class="answer-width2">
                    <div class="answer-text">
                        <p>Oui, toutes les histoires que vous créez sont sauvegardées dans votre compte.</p>
                    </div>
                </div>
            </div>
            <div class="faq-item">
                <div class="question">
                    <div class="question-box">
                        <div class="question-text">
                            <p>Puis-je changer de plan à tout moment ?</p>
                        </div>
                        <div class="arrow-down"></div>
                    </div>
                </div>
                <div class="answer-width2">
                    <div class="answer-text">
                        <p>Absolument, vous pouvez mettre à niveau ou rétrograder votre plan à tout moment selon vos souhaits.</p>
                    </div>
                </div>
            </div>
            <div class="faq-item">
                <div class="question">
                    <div class="question-box">
                        <div class="question-text">
                            <p>Les histoires conviennent-elles à tous les âges ?</p>
                        </div>
                        <div class="arrow-down"></div>
                    </div>
                </div>
                <div class="answer">
                    <div class="answer-text">
                        <p>Oui, vous pouvez personnaliser l'âge des personnages pour rendre l'histoire appropriée à votre enfant.</p>
                    </div>
                </div>
            </div>
            <div class="faq-item">
                <div class="question">
                    <div class="question-box">
                        <div class="question-text" style="height: fit-content;">
                            <p>Qu'apporte la personnalisation des émotions et des valeurs ?</p>
                        </div>
                        <div class="arrow-down"></div>
                    </div>
                </div>
                <div class="answer">
                    <div class="answer-text">
                        <p>Cela vous permet de créer des histoires qui correspondent davantage à ce que vous souhaitez transmettre à vos enfants.</p>
                    </div>
                </div>
            </div>
            <div class="faq-item">
                <div class="question">
                    <div class="question-box">
                        <div class="question-text">
                            <p>Comment sont distribuées les gemmes et les perroquets ?</p>
                        </div>
                        <div class="arrow-down"></div>
                    </div>
                </div>
                <div class="answer-width2">
                    <div class="answer-text">
                        <p>Ils sont crédités chaque mois en fonction de votre plan d'abonnement..<p>
                    </div>
                </div>
            </div>
            <div class="faq-item">
                <div class="question">
                    <div class="question-box">
                        <div class="question-text">
                            <p>Ma souscription est-elle automatiquement renouvelée ?</p>
                        </div>
                        <div class="arrow-down"></div>
                    </div>
                </div>
                <div class="answer-width2">
                    <div class="answer-text">
                        <p>Oui, votre souscription est automatiquement renouvelée chaque mois, sauf si vous choisissez d'annuler.</p>
                    </div>
                </div>
            </div>
            <div class="faq-item">
                <div class="question">
                    <div class="question-box">
                        <div class="question-text">
                            <p>Comment puis-je annuler ma souscription ?</p>
                        </div>
                        <div class="arrow-down"></div>
                    </div>
                </div>
                <div class="answer-width2">
                    <div class="answer-text">
                        <p>Vous pouvez annuler votre souscription à tout moment depuis les paramètres de votre compte.</p>
                    </div>
                </div>
            </div>
            <p class="faq-description">
                Vous avez des questions ? Nous avons des réponses. Consultez notre FAQ ci-dessous pour en savoir plus sur le fonctionnement de Storyia et comment nous pouvons transformer votre expérience de narration.
            </p>
            <p class="faq-adventure">
                Avec Storyia, vous disposez de tous les outils pour enrichir l'imagination de votre enfant dans le format qui vous convient le mieux. Ne manquez pas l'opportunité de créer des moments inoubliables en famille. Cliquez ci-dessous pour commencer votre aventure de narration dès aujourd'hui.
            </p>
            <!-- Add more FAQ items as needed -->
            <a href="/">
            <div class="box button-box-x">
                <button class="next-button" style="width: 320px;
                height: 65px; margin-bottom: 10vh;" >Créez maintenant !</button>
                </a>
            </div>
        </div>
    </div>





    </div>
    </div>
    <script src="../js/landing-page.js"></script>
    <script > document.addEventListener('DOMContentLoaded', function () {
        let burger = document.getElementById('navTrigger'),
            nav = document.getElementById('navMenu');
    
        // Add the 'active' class to hide the menu initially
       
    
        burger.addEventListener('click', function (e) {
            this.classList.toggle('active');
            nav.classList.toggle('active');
        });
    });
    </script>
</body>

</html>