<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Story Generation Page 2</title>
  <link rel="stylesheet" href="../css/meta/global.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700">
  <link rel="stylesheet" href="../css/scenario.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../css/meta/vertical-navbar.css">


</head>

<body>
  
    <!-- <button class="navTrigger" id="navTrigger">
        <svg viewBox="0 0 64 48">
          <path d="M19,15 L45,15 C70,15 58,-2 49.0177126,7 L19,37"></path>
          <path d="M19,24 L45,24 C61.2371586,24 57,49 41,33 L32,24"></path>
          <path d="M45,33 L19,33 C-8,33 6,-2 22,14 L45,37"></path>
        </svg>
      </button> -->
      <!-- <nav class="navMenu" id="navMenu">
        <ul>
          <li>
            <a href="/fr/">Accueil</a>
          </li>
          <li>
            <a href="/fr/story">Créer Histoire</a>
          </li>
          <li>
            <a href="/fr/storyhistory">Mes Histoires</a>
          </li>
          <li>
            <a href="/fr/profile">Profil</a>
          </li>
          <li>
            <a href="/fr/subscribe">Abonnement</a>
          </li>
        </ul>
      </nav> -->
     
      
        <div class="navbar">
          <div class="icons-container">
            <div class="icon-item">
              <img src="../css/assets/gem.png" alt="Icon 1">
              <span class="icon-number"><%= gems %></span>
            </div>
            <div class="icon-item">
              <img src="../css/assets/parrot.png" alt="Icon 2">
              <span class="icon-number"><%= parrots %></span>
            </div>
          </div>
          <div class="nav-button-container">
            <!-- <a href="/subscribe" class="nav-button">Subscription</a>
            <a href="/profile" class="nav-button">Profile</a>
            <a href="/storyhistory" class="nav-button">Story History</a>
            <a href="/story" class="special-button">Create Story</a> -->
          </div>
        </div>
      
      </div>
    
    <div class="image-box"></div>
    <div class="ellipse"></div>
    
    <form method="POST" action="/fr/scenario" onsubmit="return validateScenarioForm();">

    <div class="content-box" id="content-box-1">
      <div class="header-text">Étape 2 : Scénario</div>
      <div class="sub-text">Sélectionnez un scénario préféré pour votre histoire ou<br>créez le vôtre</div>


       
        <div class="flex-box">
            <div class="text-head" style="margin-left: 35px;margin-top: 15px;">Saisissez votre propre scénario</div>
            <input type="text" class="text-box" id="scenarioInput" placeholder="Commencez à taper votre scénario ici..." name="scenario" required>

            
        </div>
        <div class="card-container">
            <div class="text-style-head"
            style="color: #000; font-size: 30px; align-self: baseline; margin-top: 20px; margin-left:30px;margin-bottom: 16px;">
            Sélectionnez parmi 10 scénarios</div>
               
                <div class="card-box">
    
                  <div class="card" onclick="selectCard(this)" style="background-image:url('../css/assets/fr/scenario/sce9.png') ;" data-value="Forêt Enchantée"></div>
                  <div class="card" onclick="selectCard(this)" style="background-image:url('../css/assets/fr/scenario/sce7.png') ;" data-value="Aventure de Dinosaures"></div>
                  <div class="card" onclick="selectCard(this)" style="background-image:url('../css/assets/fr/scenario/sce8.png') ;" data-value="Créatures Fantastiques"></div>
                  <div class="card" onclick="selectCard(this)" style="background-image:url('../css/assets/fr/scenario/sce18.png') ;" data-value="Rencontre Extraterrestre"></div>
                  <div class="card" onclick="selectCard(this)" style="background-image:url('../css/assets/fr/scenario/sce19.png');" data-value="Royaume des Dragons"></div>
                  <div class="card" onclick="selectCard(this)" style="background-image:url('../css/assets/fr/scenario/sce20.png');" data-value="Navire Fantôme"></div>
                  <div class="card" onclick="selectCard(this)" style="background-image:url('../css/assets/fr/scenario/sce21.png');" data-value="Expédition dans la Jungle"></div>
                  <div class="card" onclick="selectCard(this)" style="background-image:url('../css/assets/fr/scenario/sce22.png');" data-value="Lagune des Sirènes"></div>
                  <div class="card" onclick="selectCard(this)" style="background-image:url('../css/assets/fr/scenario/sce80.png');" data-value="Amitié Robotique"></div>
                  <div class="card" onclick="selectCard(this)" style="background-image:url('../css/assets/fr/scenario/sce79.png');" data-value="Île des Pirates"></div>
              </div>


      </div>
      <button type="submit" class="next-button" style="height: 55px;">Suivant : Émotions</button>

      <a href="/fr/story" style="color: #FFF;

        font-family: Volkhov;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;margin-top: 11px; text-decoration: none;">Retour</a>
    </div>
  </form>
  <script src="../js/scenario.js"></script>
  <script src="../js/vnav.js"></script>
  <script>
    function validateScenarioForm() {
           var enteredScenario = document.getElementById("scenarioInput").value;
   
           if (enteredScenario === "") {
               alert("Please enter a scenario or select one from the cards.");
               return false; // Prevent form submission
           } else {
               // Add any additional logic or action here when the scenario is valid
               // For example, you may want to submit a form or navigate to the next page
               return true; // Allow form submission
           }
       }
   </script>
   
</body>

</html>