<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Story Generation Page 4</title>
    <link rel="stylesheet" href="../css/meta/global.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/meta/vertical-navbar.css">


    <style>
        body::after {
    content: "";
    display: block;
    width: 1px;
    height: 1px;
    background: transparent;
    transition: transform 0.1s;
}

body.loaded::after {
    transform: translateY(0);
}
        body {
            margin: 0;
            padding: 0;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.74) 20.09%, rgba(0, 0, 0, 0.64) 48.97%, rgba(0, 0, 0, 0.75) 100%),
                url('../css/assets/subs.png') center/cover no-repeat;
            height: 100vh;
            font-family: Arial, sans-serif;
            overflow: hidden;
        }
     
        @media (max-width: 768px) {

            .navbar {
                visibility: hidden;
            }

            .navTrigger {
                opacity: 1 !important;
            }

            .box {

               
                flex-shrink: 0;
                border-radius: 20px;
                

            }

        }

        .box-m {
            gap: 5PX;
            display: flex;
            flex-direction: column;
 justify-content: center;
 align-items: center;
            z-index: 1;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

        }


        .box {
            width: 640px;
            height: 180px;
            flex-shrink: 0;
            border-radius: 20px;
            z-index: 100;
            transition: box-shadow 0.3s ease, transform 0.3s ease, border 0.3s ease, margin 0.3s ease ; /* Smoother transitions */
        }
        .box:hover {
            border: 3px solid #F669B3;;
            margin-top: 10px;
            margin-bottom:10px ;
    box-shadow: 0px 20px 40px 0px rgba(255, 255, 255, 0.518); /* Enhance raise effect */
    /* Lift the card slightly on hover */
    z-index: 999; /* Make the hovered card appear above other cards */
        }

       
        /*Hover Animations */


        .box-1:hover {
      width: 640px;
      height: 180px;
      opacity: 0.8;
      background-image: url("../css/assets/fr/sub/EXPANDED/sub131.png"); /* Add the path to your new image */
     }

        .box-2:hover {
      width: 640px;
      height: 180px;
      opacity: 0.8;
      background-image: url("../css/assets/fr/sub/EXPANDED/sub130.png"); /* Add the path to your new image */
    }

        .box-4:hover {
      width: 640px;
      height: 180px;
      opacity: 0.8;
      background-image: url("../css/assets/fr/sub/EXPANDED/sub132.png"); /* Add the path to your new image */
    }

        .box-3:hover {
      width: 640px;
      height: 180px;
      opacity: 0.8;
      background-image: url("../css/assets/fr/sub/EXPANDED/sub177.png"); /* Add the path to your new image */
    }
        .box-d:hover {
      width: 640px;
      height: 180px;
      opacity: 0.8;
      background-image: url("../css/assets/fr/sub/EXPANDED/sub129.png"); /* Add the path to your new image */
    }
    
    </style>

</head>

<body>
 
    <button class="navTrigger" id="navTrigger">
        <svg viewBox="0 0 64 48">
            <path d="M19,15 L45,15 C70,15 58,-2 49.0177126,7 L19,37"></path>
            <path d="M19,24 L45,24 C61.2371586,24 57,49 41,33 L32,24"></path>
            <path d="M45,33 L19,33 C-8,33 6,-2 22,14 L45,37"></path>
        </svg>
    </button>
    <nav class="navMenu" id="navMenu">
        <ul>
            <li>
                <div class="switch">
                  <input id="language-toggle" class="check-toggle check-toggle-round-flat" type="checkbox" onclick="toggleLanguage()">
                  <label for="language-toggle"></label>
                  <span class="on">FR</span>
                  <span class="off">EN</span>
              </div>
             
              </li>
            <li>
                <a href="/fr/">Accueil</a><!--Home-->
            </li>
            <!-- <li>
                <a href="/fr/story">Créer Histoire</a>
            </li>
            <li>
                <a href="/fr/storyhistory">Mes Histoires</a>
            </li>
            <li>
                <a href="/fr/profile">Profil</a>
            </li>
            <li>
                <a href="/fr/subscribe">Abonnement</a>
            </li> -->
        </ul>
    </nav>
    <div class="navbar">
        
        <div class="nav-button-container">
            <div class="switch">
                <input id="language-toggle" class="check-toggle check-toggle-round-flat" type="checkbox" onclick="toggleLanguage()">
                <label for="language-toggle"></label>
                <span class="on">FR</span>
                <span class="off">EN</span>
            </div>
            <script>function toggleLanguage() {
                var toggleSwitch = document.getElementById('language-toggle');
                var redirectUrl;
            
                if (toggleSwitch.checked) {
                    // Redirect to URL for BN (Bangla)
                    redirectUrl = '/t&c';
                } else {
                    // Redirect to URL for EN (English)
                    redirectUrl = '/t&c';
                }
            
                // Redirect to the specified URL
                window.location.href = redirectUrl;
            }</script>
            <a href="/fr/" class="nav-button">Accueil</a>
          <!-- <a href="/fr/subscribe" class="nav-button">Abonnement</a>
          <a href="/fr/profile" class="nav-button">Profil</a>
          <a href="/fr/storyhistory" class="nav-button">Mes Histoires</a>
          <a href="/fr/story" class="special-button">Créer Histoire</a> -->
        </div>
      </div>
    

    <div class="ellipse"></div>

    
    


    <!-- Modal -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.body.classList.add('loaded');
        });
    </script>
    

    <script src="../js/vnav.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <!-- <script src="../js/subscription.js"></script> -->
</body>

</html>