<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Story Generation Page 4</title>
    <link rel="stylesheet" href="../css/meta/global.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700">
   <link rel="stylesheet" href="../css/values.css">
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet"><link rel="stylesheet" href="../css/meta/vertical-navbar.css">
   <style>  
   .percentage-tracker {
    color: #FFF;

font-family: Volkhov;
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 48px */
}

.loading-text {
  color: #FFF;

font-family: Volkhov;
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 48px */
}
    .modal {
      -webkit-overflow-scrolling: touch;
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 95vh !important;
    max-width: 1905px;
    max-height: 896px;
    flex-shrink: 0;
    border-radius: 25px;
    border: 2px solid #A288CB;
    background: var(--Linear, linear-gradient(180deg, #22185B 0%, rgba(22, 14, 68, 0.86) 100%));
    z-index: 999; /* Adjust z-index as needed */
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    display: none;
}


.modal.visible {
    display: flex; /* or block, or whatever is appropriate for your design */
    opacity: 1;
}
/* Add this style to close the modal */
.loading-bar {
  width: 90%; /* Set the width as a percentage of the parent container */
    max-width: 1568px; 
    height: 44px;
    flex-shrink: 0;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.30);
    margin-top: 20px;
    position: relative;
}

.filling-progress {
    border-radius: 20px;
    height: 100%;
    position: absolute;
    background: linear-gradient(270deg, #BB80FF 0%, #FFA8CF 0%);
    width: 0;
    animation: fillProgressBar 30s ease-in-out forwards;
}
</style>
</head>

<body>
 
 
    <button class="navTrigger" id="navTrigger">
        <svg viewBox="0 0 64 48">
          <path d="M19,15 L45,15 C70,15 58,-2 49.0177126,7 L19,37"></path>
          <path d="M19,24 L45,24 C61.2371586,24 57,49 41,33 L32,24"></path>
          <path d="M45,33 L19,33 C-8,33 6,-2 22,14 L45,37"></path>
        </svg>
      </button>
      <nav class="navMenu" id="navMenu">
        <ul>
          <li>
            <a href="/fr/">Accueil</a><!--Home-->
          </li>
          <li>
            <a href="/fr/story">Créer Histoire</a><!--Create Story-->
          </li>
          <li>
            <a href="/fr/storyhistory">Mes Histoires</a><!--Story history-->
          </li>
          <li>
            <a href="/fr/profile">Profil</a><!--Profile-->
          </li>
          <li>
            <a href="/fr/subscribe">Abonnement</a><!--Subscription-->
          </li>
        </ul>
      </nav>

      <div class="navbar">
        <div class="icons-container">
          <div class="icon-item">
            <img src="../css/assets/gem.png" alt="Icon 1">
            <span class="icon-number"><%= gems %></span>
          </div>
          <div class="icon-item">
            <img src="../css/assets/parrot.png" alt="Icon 2">
            <span class="icon-number"><%= parrots %></span>
          </div>
        </div>
        <div class="nav-button-container">
          <!-- <a href="/subscribe" class="nav-button">Subscription</a>
          <a href="/profile" class="nav-button">Profile</a>
          <a href="/storyhistory" class="nav-button">Story History</a>
          <a href="/story" class="special-button">Create Story</a> -->
        </div>
      </div>
    
    <div class="image-box"></div>
    <div class="ellipse"></div>
    <form action="/fr/values" method="POST" onsubmit="return validateScenarioForm();">

    <div class="content-box" id="content-box-1">
        <div class="header-text">Étape 4 : Valeurs</div>
        <div class="sub-text">Sélectionnez les valeurs<br>préférées pour votre histoire</div>

        <!-- Flexbox and Textbox -->
       
            <div class="flex-box">
                <div class="text-head" style="margin-left: 35px;margin-top: 15px;">Saisissez vos propres valeurs</div>
                <input type="text" class="text-box" id="valueInput" placeholder="Commencez à taper ici ..." name="values">
                
            </div>
            <div class="card-container">
                <div class="text-style-head"
                    style="color: #000; font-size: 30px; align-self: baseline; margin-top: 38px; margin-left:30px;margin-bottom: 22px;">
                    Sélectionnez parmi 10 valeurs</div>
                    <div class="card-box">
    
                        <div class="card" onclick="selectCard(this)" style="background-image:url('../css/assets/fr/val/val18.png') ;" data-value="sharing"></div>
                        <div class="card" onclick="selectCard(this)" style="background-image:url('../css/assets/fr/val/val13.png') ;" data-value="kindness"></div>
                        <div class="card" onclick="selectCard(this)" style="background-image:url('../css/assets/fr/val/val9.png') ;" data-value="responsibility"></div>
                        <div class="card" onclick="selectCard(this)" style="background-image:url('../css/assets/fr/val/val14.png') ;" data-value="honesty"></div>
                        <div class="card" onclick="selectCard(this)" style="background-image:url('../css/assets/fr/val/val19.png');" data-value="friendship"></div>
                        <div class="card" onclick="selectCard(this)" style="background-image:url('../css/assets/fr/val/val20.png');" data-value="courage"></div>
                        <div class="card" onclick="selectCard(this)" style="background-image:url('../css/assets/fr/val/val21.png');" data-value="patience"></div>
                        <div class="card" onclick="selectCard(this)" style="background-image:url('../css/assets/fr/val/val22.png');" data-value="curiosity"></div>
                        <div class="card" onclick="selectCard(this)" style="background-image:url('../css/assets/fr/val/val80.png');" data-value="respect"></div>
                        <div class="card" onclick="selectCard(this)" style="background-image:url('../css/assets/fr/val/val79.png');" data-value="perseverance"></div>
                    </div>
        
                <!-- Add more cards as needed -->
            </div>
            <button type="submit" class="next-button" style="height: 55px;" onclick="showModal()">Créer mon histoire</button>
        
        <a href="/fr/emotions" style="color: #FFF;

        font-family: Volkhov;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;margin-top: 11px; text-decoration: none;">Retour</a>
    </div>
   
</form>
<div class="modal" id="myModal">
  <p style="color: #FFF;

  font-family: Volkhov;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 48px */">Loading...<p>
  
  <div class="loading-bar">
      <div class="filling-progress"></div>
  </div>

  <div class="percentage-tracker">0.00%</div>

  <div class="loading-text">
      <p id="loadingText">Generating Story</p>
  </div>
</div>
    <script src="../js/values.js"></script>
    <script src="../js/vnav.js"></script>
    <script>
        
    </script>
    <script>
       function validateScenarioForm() {
           var enteredScenario = document.getElementById("valueInput").value;
   
           if (enteredScenario === "") {
               alert("Please enter atleast one value or select from the cards.");
               return false; // Prevent form submission
           } else {
               // Add any additional logic or action here when the scenario is valid
               // For example, you may want to submit a form or navigate to the next page
               return true; // Allow form submission
           }
       }
       function showModal() {
 
        fillProgressBar();
        document.getElementById('myModal').classList.add('visible');
    ; // Use a longer delay (e.g., 500 milliseconds)
}

  
function fillProgressBar() {
    const fillingProgress = document.querySelector('.filling-progress');
    const percentageTracker = document.querySelector('.percentage-tracker');
    const loadingText = document.getElementById('loadingText');

    let percentage = 0;

    const fill = setInterval(() => {
        if (percentage < 33) {
            fillingProgress.style.width = `${percentage}%`;
            percentageTracker.textContent = `${percentage.toFixed(2)}%`;
            loadingText.textContent = 'Generating Story';
            percentage += 0.1;
        } else if (percentage < 66) {
            clearInterval(fill);
            setTimeout(() => {
                fillProgressBarStageTwo();
            }, 1000);
        }
    }, 50);
}

function fillProgressBarStageTwo() {
    const fillingProgress = document.querySelector('.filling-progress');
    const percentageTracker = document.querySelector('.percentage-tracker');
    const loadingText = document.getElementById('loadingText');

    let percentage = 33;

    const fill = setInterval(() => {
        if (percentage < 66) {
            fillingProgress.style.width = `${percentage}%`;
            percentageTracker.textContent = `${percentage.toFixed(2)}%`;
            loadingText.textContent = 'Generating Image';
            percentage += 0.1;
        } else if (percentage < 99) {
            clearInterval(fill);
            setTimeout(() => {
                fillProgressBarStageThree();
            }, 1000);
        }
    }, 50);
}

function fillProgressBarStageThree() {
    const fillingProgress = document.querySelector('.filling-progress');
    const percentageTracker = document.querySelector('.percentage-tracker');
    const loadingText = document.getElementById('loadingText');

    let percentage = 66;

    const fill = setInterval(() => {
        if (percentage < 99) {
            fillingProgress.style.width = `${percentage}%`;
            percentageTracker.textContent = `${percentage.toFixed(2)}%`;
            loadingText.textContent = 'Generating Audio';
            percentage += 0.1;
        } else {
            clearInterval(fill);
            setTimeout(() => {
                fillingProgress.style.width = '100%';
                percentageTracker.textContent = '100.00%';
            }, 500);
        }
    }, 50);
}

  </script>
</body>

</html>