.btn:link,
.btn:visited {

    
    text-decoration: none;
    width: 490px;
height: 45px;
flex-shrink: 0;
    flex-shrink: 0;
    display: block;

    transition: all .2s;
    position: relative;
    border-radius: 15px;
    border: 2px solid #A288CB;
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    padding-top: 20px;
    cursor: pointer;
    margin: 10px 0;
    background: var(--Linear, linear-gradient(180deg, #22185B 0%, rgba(22, 14, 68, 0.86) 100%));
}


.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    text-align: center;
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    text-align: center;
    background: var(--Linear, linear-gradient(180deg, #22185B 0%, rgba(22, 14, 68, 0.86) 100%));
    color: #ffffff;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-animated {
    animation: moveInBottom 1s ease-out;
    animation-fill-mode: backwards;
}

.btn-white::after {
    background: var(--Linear, linear-gradient(180deg, #22185bbc 0%, rgba(22, 14, 68, 0.567) 100%))
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}


@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}


/* new button */
.btn1:link,
.btn1:visited {

    
    text-decoration: none;
    width: 490px;
height: 45px;
flex-shrink: 0;
    flex-shrink: 0;
    display: block;

    transition: all .2s;
    position: relative;
    border-radius: 15px;
    border: 2px solid #A288CB;
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    padding-top: 20px;
    cursor: pointer;
    margin: 10px 0;
    background: white;
}

.btn1:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn1:active {
    text-align: center;
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn1-white {
    text-align: center;
    background: white;
    color: black;
}

.btn1::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn1-animated {
    animation: moveInBottom 1s ease-out;
    animation-fill-mode: backwards;
}

.btn1-white::after {
    background: rgba(255, 255, 255, 0.773);
}

.btn1:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}


@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
