html {
    box-sizing: border-box;
  }
  .navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    pointer-events: none;
    height: 100vh; /* Fixed height of 100vh */
    /* Adjust background color and other styles as needed */
}
  *, *:after, *:before {
    box-sizing: border-box;
  }
  
  :root {
    --color: #1950FF;
    --white: #fff;
    --tras: transparent;
  }
  

  .container .navMenu.closed {
    display: none !important;
}
  
.navTrigger {
  pointer-events: auto;
  position: sticky;
  top: 1vh;
  left: 83vw;
  z-index: 1000;
  width: 36px;
  height: 36px;
  background: none;
  border: 0;
  outline: none;
  opacity: 0;
  border: none;
  cursor: pointer;

  -webkit-tap-highlight-color: transparent;
}

  .navTrigger:focus {
    outline: none;
  }
  .navTrigger svg {
    width: 64px;
    height: 48px;
    
    stroke:#D1B5FE;
    
    stroke-width: 4px;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    display: block;
    position: sticky;
  }
  .navTrigger svg path {

    transition: stroke-dasharray var(--duration, 0.85s) var(--easing, ease) var(--delay, 0s), stroke-dashoffset var(--duration, 0.85s) var(--easing, ease) var(--delay, 0s);
    stroke-dasharray: var(--array-1, 26px) var(--array-2, 100px);
    stroke-dashoffset: var(--offset, 126px);
    transform: translateZ(0);
  }
  .navTrigger svg path:nth-child(2) {
    --duration: .7s;
    --easing: ease-in;
    --offset: 100px;
    --array-2: 74px;
  }
  .navTrigger svg path:nth-child(3) {
    --offset: 133px;
    --array-2: 107px;
  }
  .navTrigger.active svg {
    stroke: white !important; 
  }
  .navTrigger.active svg path {
    --offset: 57px;
  }
  .navTrigger.active svg path:nth-child(1), .navTrigger.active svg path:nth-child(3) {
    --delay: .15s;
    --easing: cubic-bezier(.2, .4, .2, 1.1);
  }
  .navTrigger.active svg path:nth-child(2) {
    --duration: .4s;
    --offset: 2px;
    --array-1: 1px;
  }
  .navTrigger.active svg path:nth-child(3) {
    --offset: 58px;
  }
  
  .navMenu {
    pointer-events: auto;
    z-index: 1001;
    
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0);
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    transition: all 0.375s;
  }
  .navMenu.active {
    pointer-events: auto;
    opacity: 1;
    z-index: 100;
    visibility: visible;
  }
  .navMenu.active::before {
    transform: skew(-14deg) translateX(0);
  }
  .navMenu.active li {
    pointer-events: auto;
    opacity: 1;
    transform: translateY(0);
  }
  .navMenu::before {
    pointer-events: auto;
 
    /* filter: blur(5px); */
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
   box-shadow: 20px 0 20px 0 rgba(0, 0, 0, 0.3);
   border: 2px solid ;
   border-image: linear-gradient(to right, rgba(150, 101, 211, 0.62), rgba(150, 101, 211, 0.541));
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 15vw;
    background: linear-gradient(-45deg, rgba(255, 255, 255, 0.18), rgba(57, 28, 92, 0.571), rgb(150, 101, 211));

    transform-origin: 0 0;
    transform: skew(-14deg) translateX(-120%);
    transition: all 0.275s 0.1s;
  }

  .navMenu ul {
    pointer-events: auto;
    list-style: none;
    padding-RIGHT: 8vw;

    display: inline-flex;
    flex-direction: column;
    height: 93%;
    /* Should be 100%, but we have a notice message :D */
    align-items: flex-end;
    justify-content: center;
    transform: translateX(-18%) skew(-16deg);
  }
  .navMenu ul li {
    pointer-events: auto;
    display: block;
    margin: 0.5rem 0;
    text-align: right;
    opacity: 0;
    transform: translateY(-10px);
  }

  .navMenu ul li a {
    pointer-events: auto;
    position: relative;
    display: inline-block;
    padding: 2px 6px;
    color: var(--white);
    font-family: Volkhov;
    font-size: 1.8em;
    text-decoration: none;
    transform: skew(16deg);
    z-index: 1; /* Ensure the text appears above the ::before pseudo-element */
}



.navMenu ul li a::before {
  pointer-events: auto;
    content: "";
    position: absolute;
    width: calc(100% + 390px);
    height: 110%;
    background-color: rgba(0, 0, 0, 0); /* Adjust color and transparency as needed */
    z-index: -1;
    transform: skew(-16deg);
    transform-origin: bottom right;
    transition: transform 0.3s ease-in, opacity 0.3s ease; /* Transition duration and easing function */
    top: 0%; /* Center vertically within the box */
    margin-left: -400px; /* Negative margin to fill the width towards the left */
    opacity: 0; /* Initial opacity set to 0 */
}

.navMenu ul li a:hover::before {
  pointer-events: auto;
    /* Scale on hover */
    border-radius: 10px;
    border: 1px solid rgba(224, 139, 255, 0.40);
    background: linear-gradient(107deg, rgba(224, 139, 255, 0.20) 3.92%, rgba(224, 139, 255, 0.10) 49.51%);
    box-shadow: 4px 6px 20px 0px rgba(0, 0, 0, 0.50);
    backdrop-filter: blur(4px);
    opacity: 1; /* Change opacity on hover */
    
}







  .navMenu ul li:nth-child(1) {
    transition: all 275ms 275ms;
  }
  .navMenu ul li:nth-child(2) {
    transition: all 275ms 325ms;
  }
  .navMenu ul li:nth-child(3) {
    transition: all 275ms 375ms;
  }
  .navMenu ul li:nth-child(4) {
    transition: all 275ms 425ms;
  }
  .navMenu ul li:nth-child(5) {
    transition: all 275ms 475ms;
  }